<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div class="core">
        <div class="app" tabindex="1">
            <div class="button" id="button-1"><i class="fas fa-stream"
                    style="font-size: larger; padding-left: 19px;"></i>
                <div class="list-container">
                    <ul id="button-1-item-list">
                        <span style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; 
                            font-weight: bold;
                            line-height: 20px;">&emsp;
                            Menu</span>
                        <br><br>
                        <li><a href="pages/aluminum_studio.html">About</a></li>
                        <li><a href="pages/clock.html">Clocks</a></li>
                        <li><a href="pages/social_network.html">Social Media</a></li>
                        <li><a href="pages/develop.html">Developer</a></li>
                        <li><a href="pages/survey.html">Survey</a></li>
                        <li><a href="pages/music.html">Music</a></li>
                        <li><a href="pages/flashback.html">Memories</a></li>
                    </ul>
                </div>
                <!-- <a href="#"><i id="return" class="fas fa-power-off"
                        style="font-size: larger; position: absolute; right: 19px; top: 19px;"></i></a> -->
            </div>
            <a href="https://jerrylovescheese.github.io/web" style="text-decoration: none; color: black;">
                <div class="button" id="button-2"><span
                        style="padding-left: 60px; font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bold;">Home</span>
                </div>
            </a>
            <a href="pages/search.html" style="text-decoration: none; color: black;">
                <div class="button" id="button-3"><i class="fas fa-search"
                        style="font-size: larger; padding-left: 19px;"></i><span
                        style="font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; font-weight: bold;">&emsp;
                        Search</span></div>
            </a>
        </div>
    </div>

    <div id="close-button-container" tabindex="0">
        <div id="close-all">
            <div class="site-indicator" id="close-indicator">
                <i class="fas fa-close"></i><span id="indicator-label">&emsp;关闭所有浮窗</span>
            </div>
        </div>
    </div>

    <div id="site-map" tabindex="0">
        <div class="site-indicator" id="site-indicator">
            <i class="fas fa-map"></i>
        </div>
        <div id="map-text">
            <div id="map-title"><i class="fas fa-map-pin"></i>&emsp;jerryly.top 网站地图</div>
            <ul id="map-link-list">
                <a href="pages/aluminum_studio.html">
                    <li>关于</li>
                </a>
                <a href="pages/apple.html">
                    <li>苹果</li>
                </a>
                <a href="pages/christmas.html">
                    <li>圣诞</li>
                </a>
                <a href="pages/clock.html">
                    <li>时间大厅</li>
                </a>
                <a href="pages/develop.html">
                    <li>开发者</li>
                </a>
                <a href="pages/flashback.html">
                    <li>采光间</li>
                </a>
                <a href="pages/friends.html">
                    <li>老友记</li>
                </a>
                <a href="pages/music.html">
                    <li>音乐</li>
                </a>
                <a href="pages/search.html">
                    <li>搜索</li>
                </a>
                <a href="pages/social_network.html">
                    <li>社交媒体</li>
                </a>
                <a href="pages/survey.html">
                    <li>调查问卷</li>
                </a>
                <a href="pages/taylorswift.html">
                    <li>泰勒·斯威夫特</li>
                </a>
            </ul>
        </div>
    </div>

    <div id="toolkit" tabindex="0">
        <div class="site-indicator" id="toolkit-indicator">
            <i class="fas fa-ellipsis-v"></i>
        </div>
        <a href="#">
            <div class="return-to-top">
                <i class="fas fa-chevron-up"></i>&emsp;Back to top
            </div>
        </a>
        <a href="../../en/index-en.html">
            <div class="en-us">
                CN <span style="font-weight: normal;">&emsp14;中文</span>
            </div>
        </a>
        <div id="find-me">
            <a href="https://www.twitter.com/@jerrylovestweet"><i class="fa-brands fa-twitter"></i></a>&emsp;<a
                href="https://github.com/jerrylovescheese"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>
</body>

</html>