<!DOCTYPE html>
<html lang="en">

<head>

</head>

<body>
    <div id="core">
        <div id="bar-wrapper">
            <div id="app" tabindex="1">
                <div id="app-element-container">
                    <a href="jerryly.top">
                        <div class="app-elements" id="app-element-1"></div>
                    </a>
                    <div class="separator"></div>
                    <div class="app-elements" id="app-element-3">
                        <a href="./aluminum_studio.html"><span class="app-element-label">关于我</span></a>
                    </div>
                    <div class="app-elements" id="app-element-4">
                        <span class="app-element-label">爱好箱</span>
                    </div>
                    <div class="app-elements" id="app-element-5">
                        <span class="app-element-label">整理箱</span>
                    </div>
                    <div class="app-elements" id="app-element-6">
                        <a href="./clock.html"><span class="app-element-label">时间大厅</span></a>
                    </div>
                </div>
                <div class="app-elements" id="app-element-2">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
        </div>
    </div>

    <div id="close-button-container" tabindex="0">
        <div id="close-all">
            <div class="site-indicator" id="close-indicator">
                <i class="fas fa-close"></i><span id="indicator-label">&emsp;关闭所有浮窗</span>
            </div>
        </div>
    </div>

    <div id="site-map" tabindex="0">
        <div class="site-indicator" id="site-indicator">
            <i class="fas fa-map"></i>
        </div>
        <div id="map-text">
            <div id="map-title"><i class="fas fa-map-pin"></i>&emsp;jerryly.top 网站地图</div>
            <ul id="map-link-list">
                <a href="./aluminum_studio.html">
                    <li>关于</li>
                </a>
                <a href="./apple.html">
                    <li>苹果</li>
                </a>
                <a href="./christmas.html">
                    <li>圣诞</li>
                </a>
                <a href="./classical_ch_sh.html">
                    <li>部编版高中语文古文合集</li>
                </a>
                <a href="./classical_ch.html">
                    <li>部编版初中语文古文合集</li>
                </a>
                <a href="./clock.html">
                    <li>时间大厅</li>
                </a>
                <a href="./develop.html">
                    <li>开发者</li>
                </a>
                <a href="./flashback.html">
                    <li>采光间</li>
                </a>
                <a href="./friends.html">
                    <li>老友记</li>
                </a>
                <a href="./homemade_giftcard.html">
                    <li>手写祝福活动</li>
                </a>
                <a href="./music.html">
                    <li>音乐</li>
                </a>
                <a href="./search.html">
                    <li>搜索</li>
                </a>
                <a href="./social_network.html">
                    <li>社交媒体</li>
                </a>
                <a href="./survey.html">
                    <li>调查问卷</li>
                </a>
                <a href="./taylorswift.html">
                    <li>泰勒·斯威夫特</li>
                </a>
            </ul>
        </div>
    </div>

    <div id="toolkit" tabindex="0">
        <div class="site-indicator" id="toolkit-indicator">
            <i class="fas fa-ellipsis-v"></i>
        </div>
        <a href="#">
            <div class="return-to-top">
                <i class="fas fa-chevron-up"></i>&emsp;回到顶部
            </div>
        </a>
        <a href="../en/index-en.html">
            <div class="en-us">
                EN <span style="font-weight: normal;">&emsp14;Switch to English</span>
            </div>
        </a>
        <div id="find-me">
            <a href="https://www.twitter.com/@jerrylovestweet"><i class="fa-brands fa-twitter"></i></a>&emsp;<a
                href="https://github.com/jerrylovescheese"><i class="fa-brands fa-github"></i></a>
        </div>
    </div>

    <div class="loader-wrapper">
        <i class="fa-solid fa-spinner fa-spin"></i>
        <span id="loader-prompt"><br>Preparing elements...</span>
    </div>
</body>

</html>