<div id="copyright-info">
        版权所有 © aluminum.studio
        <a id="my-page" href="http://jerrylovescheese.github.io/web/pages/aluminum_studio.html">&emsp13;
                江源工作室
        </a>
        <br><br>
        <a href="javascript:;" onclick="alert('Currently no items in test. Stay tuned!')">
                <i class="fas fa-flask"></i>&emsp13;
                实验室
        </a>
        &emsp;
        <a href="https://blog.jerryly.top/2024/04/04/legal-statement.html">
                <i class="fa-solid fa-scale-balanced"></i>&emsp13;
                法律声明
        </a>
</div>