<div id="copyright-info">
        <p class="copyright-info">
                想帮忙？有想法或建议？欢迎给
                <a href="mailto:jerrylovesapple@icloud.com">jerrylovesapple@icloud.com</a>
                发一封邮件。<br>
        </p>
        <p class="copyright-info">
                版权所有 © aluminum.studio
                <a id="my-page" href="http://jerrylovescheese.github.io/web/pages/aluminum_studio.html">
                        江源工作室 <i class="fas fa-arrow-right"></i>
                </a>
        </p>
        <p class="copyright-info">
                <a href="javascript:;" onclick="alert('Currently no items in test. Stay tuned!')">
                        <i class="fas fa-flask"></i>&emsp13;
                        实验室
                </a>
                &emsp;
                <a href="https://blog.jerryly.top/2024/04/04/legal-statement.html">
                        <i class="fa-solid fa-scale-balanced"></i>&emsp13;
                        法律声明
                </a>
        </p>
</div>