<script>
    $(function () {
        $("#d-button-1").hover(function () {
            $("#d-button-alt-1").toggleClass("active");
        });
    });
    $(function () {
        $("#d-button-2").hover(function () {
            $("#d-button-alt-2").toggleClass("active");
        });
    });
    $(function () {
        $("#d-button-3").hover(function () {
            $("#d-button-alt-3").toggleClass("active");
        });
    });
    $(function () {
        $("#d-button-4").hover(function () {
            $("#d-button-alt-4").toggleClass("active");
        });
    });
    $(function () {
        $("#d-button-5").hover(function () {
            $("#d-button-alt-5").toggleClass("active");
        });
    });
    $(function () {
        $("#d-button-6").hover(function () {
            $("#d-button-alt-6").toggleClass("active");
        });
    });
    $(function () {
        $("#d-button-7").hover(function () {
            $("#d-button-alt-7").toggleClass("active");
        });
    });
    $(function () {
        $("#d-button-8").hover(function () {
            $("#d-button-alt-8").toggleClass("active");
        });
    });
    $(function () {
        $("#d-button-9").hover(function () {
            $("#d-button-alt-9").toggleClass("active");
        });
    });
    $(function () {
        $("#d-button-10").hover(function () {
            $("#d-button-alt-10").toggleClass("active");
        });
    });
    $(function () {
        $("#d-button-9").click(function () {
            $("#doors-wall").toggleClass("active");
        });
    });
    $(function () {
        $("#header-collapse-button").click(function () {
            $("#header-unit").toggleClass("active");
            $("#content-unit").toggleClass("active");
        });
    });
</script>

<header id="door">
    <div id="doors">
        <div class="doors" id="door-1">
            <a href="https://jerryly.top">
                <div class="d-button" id="d-button-1"></div>
            </a>
            <a href="../pages/clock.html">
                <div class="d-button" id="d-button-2">
                    <i class="fas fa-clock"></i>
                </div>
            </a>
            <a href="../pages/aluminum_studio.html">
                <div class="d-button" id="d-button-3">
                    <i class="fas fa-info"></i>
                </div>
            </a>
            <a href="../pages/apple.html">
                <div class="d-button" id="d-button-4">
                    <i class="fa-brands fa-apple"></i>
                </div>
            </a>
            <a href="../pages/music.html">
                <div class="d-button" id="d-button-5">
                    <i class="fas fa-music"></i>
                </div>
            </a>
        </div>
        <div class="doors" id="door-2">
            <a href="https://blog.jerryly.top">
                <div class="d-button" id="d-button-6">
                    <i class="fa-solid fa-scroll"></i>
                </div>
            </a>
            <a href="../pages/contact.html">
                <div class="d-button" id="d-button-7">
                    <i class="fa-solid fa-message"></i>
                </div>
            </a>
            <a href="#">
                <div class="d-button" id="d-button-8">
                    <i class="fa-solid fa-chevron-up"></i>
                </div>
            </a>
            <div class="d-button" id="d-button-9">
                <i class="fa-solid fa-square-plus"></i>
            </div>
            <a href="../index.html">
                <div class="d-button" id="d-button-10">
                    <i class="fa-solid fa-language"></i>
                </div>
            </a>
        </div>
    </div>
    <div id="doors-alt">
        <div class="d-button-alt" id="d-button-alt-1">Home</div>
        <div class="d-button-alt" id="d-button-alt-2">Clock</div>
        <div class="d-button-alt" id="d-button-alt-3">About</div>
        <div class="d-button-alt" id="d-button-alt-4">Apple</div>
        <div class="d-button-alt" id="d-button-alt-5">Music</div>
        <div class="d-button-alt" id="d-button-alt-6">Blog</div>
        <div class="d-button-alt" id="d-button-alt-7">Contacts</div>
        <div class="d-button-alt" id="d-button-alt-8">Go to top</div>
        <div class="d-button-alt" id="d-button-alt-9">Expand</div>
        <div class="d-button-alt" id="d-button-alt-10">中文</div>
    </div>
    <div id="doors-wall">
        <div id="doors-wall-head">Site Map</div>
        <div id="doors-wall-grid">
            <div class="d-wall-sec" id="d-wall-sec-1">
                <a href="../pages/apple.html">
                    <span class="d-wall-sec-text">Apple</span>
                </a>
                <ul>
                    <a href="../pages/subpages/dubdub.html">
                        <li>WWDC</li>
                    </a>
                    <a href="../pages/subpages/iphone.html">
                        <li>iPhone</li>
                    </a>
                    <a href="../pages/subpages/iphone.html">
                        <li>iPad</li>
                    </a>
                    <a href="../pages/subpages/mac.html">
                        <li>Mac</li>
                    </a>
                </ul>
            </div>
            <div class="d-wall-sec" id="d-wall-sec-2">
                <a href="../pages/music.html">
                    <span class="d-wall-sec-text">Music</span>
                </a>
                <ul>
                    <a href="../pages/subpages/1989tv.html">
                        <li>1989 (Taylor's Version)</li>
                    </a>
                    <a href="../pages/subpages/lover.html">
                        <li>Lover</li>
                    </a>
                    <a href="../pages/subpages/midnights.html">
                        <li>Midnights</li>
                    </a>
                    <a href="../pages/subpages/ttpd.html">
                        <li>The Tortured Poets Department</li>
                    </a>
                    <a href="../pages/subpages/taylorswift.html">
                        <li>Taylor Swift</li>
                    </a>
                </ul>
            </div>
            <div class="d-wall-sec" id="d-wall-sec-3">
                <span class="d-wall-sec-text">Other Stuff</span>
                <ul>
                    <a href="../pages/aluminum_studio.html">
                        <li>About</li>
                    </a>
                    <a href="../pages/blog_preview.html">
                        <li>Blog Preview</li>
                    </a>
                    <a href="../pages/christmas.html">
                        <li>Christmas</li>
                    </a>
                    <a href="../pages/classical_ch_sh.html">
                        <li>Classical Chinese Text for Senior High</li>
                    </a>
                    <a href="../pages/classical_ch.html">
                        <li>Classical Chinese Text for Junior High</li>
                    </a>
                    <a href="../pages/clock.html">
                        <li>Clock</li>
                    </a>
                    <a href="../pages/contact.html">
                        <li>Contacts</li>
                    </a>
                    <a href="../pages/develop.html">
                        <li>Develop</li>
                    </a>
                    <a href="../pages/flashback.html">
                        <li>Flashback (beta)</li>
                    </a>
                    <a href="../pages/friends.html">
                        <li>Friends</li>
                    </a>
                    <a href="../pages/homemade_giftcard.html">
                        <li>Homemade Giftcard</li>
                    </a>
                    <a href="../pages/music.html">
                        <li>Music</li>
                    </a>
                    <a href="../pages/noticeboard.html">
                        <li>Noticeboard</li>
                    </a>
                    <a href="../pages/search.html">
                        <li>Search (deprecated)</li>
                    </a>
                    <a href="../pages/survey.html">
                        <li>Survey</li>
                    </a>
                </ul>
            </div>
        </div>
        <div id="d-wall-mark">
            <span id="d-wall-mark-small">Ⓒ</span>&emsp13;2019 - 2024 aluminum.studio
        </div>
    </div>
</header>