<script>
    $(document).ready(function () {
        // Get the current hour
        const currentHour = new Date().getHours();

        // Determine the appropriate greeting
        let greetingText = '';
        if (currentHour >= 5 && currentHour < 12) {
            greetingText = 'Good morning';
        } else if (currentHour >= 12 && currentHour < 18) {
            greetingText = 'Good afternoon';
        } else {
            greetingText = 'Good evening';
        }

        // Set the text content of the span element
        $('#greeting-sentence').text(greetingText);
    });

    // Ensure the DOM is fully loaded before running the script
    $(document).ready(function () {
        // Get the title of the document
        var title = $(document).attr("title");
        // Display the title inside an element with id 'titleDisplay'
        $("#titleDisplay").text(title);
    });

    $(function () {
        $("#top-link-1").click(function () {
            $("#aerial").toggleClass("activeMap");
            $("#top-link-1").toggleClass("active");
            $("#map").toggleClass("active");
        });
    });

    $(function () {
        $("#top-link-2").click(function () {
            $("#aerial").toggleClass("activeMe");
            $("#top-link-2").toggleClass("active");
            $("#me").toggleClass("active");
        });
    });

    $(function () {
        $("#top-link-4").click(function () {
            $("#aerial").toggleClass("activeSearch");
            $("#top-link-4").toggleClass("active");
            $("#search-bar").toggleClass("active");
        });
    });
</script>

<header id="aerial">
    <div id="greet">
        <span id="greeting-sentence"></span>, you're watching
        <br><b><span id="titleDisplay"></span></b></span>
    </div>
    <div id="bar">
        <a href="https://jerryly.top">
            <div id="logo"></div>
        </a>
        <div id="top-links">
            <div id="top-link-1" class="top-link">
                <i class="fa-regular fa-map"></i>
            </div>
            <div id="top-link-2" class="top-link">
                <i class="fa-regular fa-user"></i>
            </div>
            <div id="top-link-4" class="top-link">
                <i class="fa-solid fa-magnifying-glass"></i>
            </div>
        </div>
    </div>
    <div id="map">
        <div class="b-item-2">things I love</div>
        <a href="pages/apple.html">
            <div class="b-item">
                Apple
            </div>
        </a>
        <a href="pages/friends.html">
            <div class="b-item">
                Friends
            </div>
        </a>
        <a href="pages/music.html">
            <div class="b-item">
                Music
            </div>
        </a>
        <a href="pages/taylorswift.html">
            <div class="b-item">
                Swiftie
            </div>
        </a>
        <div class="b-item-2">festivity</div>
        <a href="pages/christmas.html">
            <div class="b-item">
                Christmas
            </div>
        </a>
        <a href="pages/homemade_giftcard.html">
            <div class="b-item">
                Homemade Giftcard
            </div>
        </a>
        <div class="b-item-2">other stuff</div>
        <a href="pages/aluminum_studio.html">
            <div class="b-item">
                About
            </div>
        </a>
        <a href="https://blog.jerryly.top">
            <div class="b-item">
                Blog&emsp13;&emsp13;
                <i class="fa-solid fa-arrow-up-right-from-square"></i>
            </div>
        </a>
        <a href="pages/classical_ch_sh.html">
            <div class="b-item">
                Classical Chinese for Senior High
            </div>
        </a>
        <a href="pages/classical_ch.html">
            <div class="b-item">
                Classical Chinese for Junior High
            </div>
        </a>
        <a href="pages/clock.html">
            <div class="b-item">
                Clock
            </div>
        </a>
        <a href="pages/contact.html">
            <div class="b-item">
                Contact
            </div>
        </a>
        <a href="pages/develop.html">
            <div class="b-item">
                Develop
            </div>
        </a>
        <a href="pages/flashback.html">
            <div class="b-item">
                Rainbow Room
            </div>
        </a>
        <a href="pages/gallery.html">
            <div class="b-item">
                Gallery
            </div>
        </a>
        <a href="pages/noticeboard.html">
            <div class="b-item">
                Noticeboard
            </div>
        </a>
        <a href="pages/search.html">
            <div class="b-item">
                Search (beta)
            </div>
        </a>
        <a href="pages/survey.html">
            <div class="b-item">
                Survey
            </div>
        </a>
    </div>
    <div id="me">
        李江源 / Jerry Li
        <div id="me-smaller">
            A student at University of Virginia who loves CS but is being tortured by math
        </div>
        <div id="me-smaller-2">
            learn more at <a href="pages/aluminum_studio.html">my about page</a>
        </div>
    </div>
    <div id="search-bar">
        Search for anything (on this site, of course)
        <br>
        <input type="text" id="search" placeholder="Search...">
        <ul id="results">
            Search function now in beta and for English (US) only! <br>Not working? <a href="pages/search.html">Try the
                search page.</a>
        </ul>
    </div>
</header>

<div id="back-to-top">
    <a href="#">
        <div id="back-button">
            <i class="fas fa-arrow-up"></i>
        </div>
    </a>
</div>