<script>
    $(function () {
        $("#btc-4").click(function () {
            $("#butter").toggleClass("active");
            $("#cup").toggleClass("active");
        });
    });

    $(function () {
        $("#header-collapse-button").click(function () {
            $("#header-unit").toggleClass("active");
            $("#content-unit").toggleClass("active");
        });
    });
    $(function () {
        $("#btc-1").hover(function () {
            $("#cup-label-1").toggleClass("active");
        });
    });
    $(function () {
        $("#btc-2").hover(function () {
            $("#cup-label-2").toggleClass("active");
        });
    });
    $(function () {
        $("#btc-3").hover(function () {
            $("#cup-label-3").toggleClass("active");
        });
    });
    $(function () {
        $("#btc-4").hover(function () {
            $("#cup-label-4").toggleClass("active");
        });
    });
</script>

<header id="buttercup">
    <div id="butter">
        <div id="doors-wall-head">网站地图</div>
        <div id="doors-wall-grid">
            <div class="d-wall-sec" id="d-wall-sec-1">
                <a href="pages/apple.html">
                    <span class="d-wall-sec-text">苹果</span>
                </a>
                <ul>
                    <a href="pages/subpages/dubdub.html">
                        <li>WWDC</li>
                    </a>
                    <a href="pages/subpages/iphone.html">
                        <li>iPhone</li>
                    </a>
                    <a href="pages/subpages/iphone.html">
                        <li>iPad</li>
                    </a>
                    <a href="pages/subpages/mac.html">
                        <li>Mac</li>
                    </a>
                </ul>
            </div>
            <div class="d-wall-sec" id="d-wall-sec-2">
                <a href="pages/music.html">
                    <span class="d-wall-sec-text">音乐</span>
                </a>
                <ul>
                    <a href="pages/subpages/1989tv.html">
                        <li>1989 (Taylor's Version)</li>
                    </a>
                    <a href="pages/subpages/lover.html">
                        <li>Lover</li>
                    </a>
                    <a href="pages/subpages/midnights.html">
                        <li>Midnights</li>
                    </a>
                    <a href="pages/subpages/ttpd.html">
                        <li>The Tortured Poets Department</li>
                    </a>
                    <a href="pages/subpages/taylorswift.html">
                        <li>Taylor Swift</li>
                    </a>
                </ul>
            </div>
            <div class="d-wall-sec" id="d-wall-sec-3">
                <span class="d-wall-sec-text">其他</span>
                <ul>
                    <a href="pages/aluminum_studio.html">
                        <li>关于</li>
                    </a>
                    <a href="pages/blog_preview.html">
                        <li>博客预览</li>
                    </a>
                    <a href="pages/christmas.html">
                        <li>圣诞</li>
                    </a>
                    <a href="pages/classical_ch_sh.html">
                        <li>部编版高中语文古文</li>
                    </a>
                    <a href="pages/classical_ch.html">
                        <li>部编版初中语文古文</li>
                    </a>
                    <a href="pages/clock.html">
                        <li>时钟</li>
                    </a>
                    <a href="pages/contact.html">
                        <li>联系</li>
                    </a>
                    <a href="pages/develop.html">
                        <li>开发与实验室</li>
                    </a>
                    <a href="pages/flashback.html">
                        <li>采光间</li>
                    </a>
                    <a href="pages/friends.html">
                        <li>老友记</li>
                    </a>
                    <a href="pages/gallery.html">
                        <li>作品</li>
                    </a>
                    <a href="pages/homemade_giftcard.html">
                        <li>手写祝福</li>
                    </a>
                    <a href="pages/music.html">
                        <li>音乐</li>
                    </a>
                    <a href="pages/noticeboard.html">
                        <li>笔记板</li>
                    </a>
                    <a href="pages/search.html">
                        <li>搜索</li>
                    </a>
                    <a href="pages/survey.html">
                        <li>调查问卷</li>
                    </a>
                </ul>
            </div>
        </div>
        <div id="d-wall-mark">
            <span id="d-wall-mark-small">Ⓒ</span>&emsp13;2019 - 2024 aluminum.studio
        </div>
    </div>
    <div id="cup">
        <div id="btcs">
            <div class="btc-o" id="btc-o-1">
                <div class="btc-circles">
                    <a href="https://jerryly.top">
                        <div class="btc" id="btc-1"></div>
                    </a>
                    <a href="pages/aluminum_studio.html">
                        <div class="btc" id="btc-2">
                            <i class="fas fa-info"></i>
                        </div>
                    </a>
                    <a href="pages/clock.html">
                        <div class="btc" id="btc-3">
                            <i class="fa-regular fa-clock"></i>
                        </div>
                    </a>
                    <div class="btc" id="btc-4">
                        <i class="fa-regular fa-square-plus"></i>
                    </div>
                </div>
            </div>
        </div>
        <div id="cup-labels">
            <div class="cup-label" id="cup-label-1">Home</div>
            <div class="cup-label" id="cup-label-2">About</div>
            <div class="cup-label" id="cup-label-3">Clock</div>
            <div class="cup-label" id="cup-label-4">More</div>
        </div>
    </div>
</header>