<script>
    $(function () {
        $("#b-more").click(function () {
            $("#cup").toggleClass("active");
            $("#basic").toggleClass("active");
        });
    });
    $(function () {
        $("#header-collapse-button").click(function () {
            $("#header-unit").toggleClass("active");
            $("#content-unit").toggleClass("active");
        });
    });
</script>

<header id="basic">
    <div id="basic-text-container">
        <div id="b-info"></div>
        <div id="b-more">more</div>
        <div id="b-more"><a href="#">to top</a></div>
        <div id="b-more"><a href="./clock.html">clock</a></div>
        <div id="b-more"><a href="./aluminum_studio.html">about</a></div>
    </div>
    <div id="cup">
        <div id="water">
            <a href="./apple.html">
                <span id="water-head">9:41</span>
            </a>
            <ul id="water-list">
                <a href="./develop.html">
                    <li>Developer</li>
                </a>
                <a href="./subpages/mac.html">
                    <li>Mac</li>
                </a>
                <a href="./subpages/iphone.html">
                    <li>iPhone</li>
                </a>
                <a href="./subpages/ipad.html">
                    <li>iPad</li>
                </a>
                <a href="./subpages/dubdub.html">
                    <li>WWDC</li>
                </a>
            </ul>
            <a href="./music.html">
                <span id="water-head">music</span>
            </a>
            <ul id="water-list">
                <a href="./taylorswift.html">
                    <li>Taylor Swift</li>
                </a>
                <a href="./subpages/1989tv.html">
                    <li>1989 (Taylor's Version)</li>
                </a>
                <a href="./subpages/lover.html">
                    <li>Lover</li>
                </a>
                <a href="./subpages/midnights.html">
                    <li>Midnights</li>
                </a>
                <a href="./subpages/ttpd.html">
                    <li>The Tortured Poets Department</li>
                </a>
            </ul>
            <span id="water-head">other stuff</span>
            <ul id="water-list">
                <a href="./aluminum_studio.html">
                    <li>About</li>
                </a>
                <a href="./blog_preview.html">
                    <li>Blog</li>
                </a>
                <a href="./christmas.html">
                    <li>Christmas (closed for now)</li>
                </a>
                <a href="./classical_ch_sh.html">
                    <li>部编版高中语文古文合集</li>
                </a>
                <a href="./classical_ch.html">
                    <li>部编版初中语文古文合集</li>
                </a>
                <a href="./clock.html">
                    <li>Clock</li>
                </a>
                <a href="./contact.html">
                    <li>Contact</li>
                </a>
                <a href="./friends.html">
                    <li><i>Friends</i></li>
                </a>
                <a href="./gallery.html">
                    <li>Gallery</li>
                </a>
                <a href="./noticeboard.html">
                    <li>Noticeboard</li>
                </a>
                <a href="./search.html">
                    <li>Search (deprecated)</li>
                </a>
                <a href="./survey.html">
                    <li>Survey</li>
                </a>
            </ul>
        </div>
    </div>
</header>

<div id="header-collapse">
    <div id="header-collapse-button">
        <i class="fa-solid fa-square-caret-left"></i>&emsp13;&emsp13;导航器
    </div>
</div>