<script>
    $(function () {
        $("#b-more").click(function () {
            $("#cup").toggleClass("active");
            $("#basic").toggleClass("active");
        });
    });
    // Ensure the DOM is fully loaded before running the script
    $(document).ready(function () {
        // Get the title of the document
        var title = $(document).attr("title");
        // Display the title inside an element with id 'titleDisplay'
        $("#titleDisplay").text(title);
    });
</script>

<header id="basic">
    <div id="basic-text-container">
        <a href="https://jerryly.top">
            <div id="b-info"></div>
        </a>
        <div id="b-more"><b><i class="fas fa-chevron-right"></i>&emsp;<span id="titleDisplay"></span></b></div>
        <div id="b-more">more</div>
        <div id="b-more"><a href="#">to top</a></div>
        <div id="b-more"><a href="../pages/clock.html">clock</a></div>
        <div id="b-more"><a href="../pages/aluminum_studio.html">about</a></div>
    </div>
    <div id="cup">
        <div id="water">
            <a href="../pages/apple.html">
                <span id="water-head">9:41</span>
            </a>
            <ul id="water-list">
                <a href="../pages/develop.html">
                    <li>Developer</li>
                </a>
                <a href="../pages/subpages/mac.html">
                    <li>Mac</li>
                </a>
                <a href="../pages/subpages/iphone.html">
                    <li>iPhone</li>
                </a>
                <a href="../pages/subpages/ipad.html">
                    <li>iPad</li>
                </a>
                <a href="../pages/subpages/dubdub.html">
                    <li>WWDC</li>
                </a>
            </ul>
            <a href="../pages/music.html">
                <span id="water-head">music</span>
            </a>
            <ul id="water-list">
                <a href="../pages/taylorswift.html">
                    <li>Taylor Swift</li>
                </a>
                <a href="../pages/subpages/1989tv.html">
                    <li>1989 (Taylor's Version)</li>
                </a>
                <a href="../pages/subpages/lover.html">
                    <li>Lover</li>
                </a>
                <a href="../pages/subpages/midnights.html">
                    <li>Midnights</li>
                </a>
                <a href="../pages/subpages/ttpd.html">
                    <li>The Tortured Poets Department</li>
                </a>
            </ul>
            <span id="water-head">other stuff</span>
            <ul id="water-list">
                <a href="../pages/aluminum_studio.html">
                    <li>About</li>
                </a>
                <a href="../pages/blog_preview.html">
                    <li>Blog</li>
                </a>
                <a href="../pages/christmas.html">
                    <li>Christmas (closed for now)</li>
                </a>
                <a href="../pages/classical_ch_sh.html">
                    <li>部编版高中语文古文合集</li>
                </a>
                <a href="../pages/classical_ch.html">
                    <li>部编版初中语文古文合集</li>
                </a>
                <a href="../pages/clock.html">
                    <li>Clock</li>
                </a>
                <a href="../pages/contact.html">
                    <li>Contact</li>
                </a>
                <a href="../pages/friends.html">
                    <li><i>Friends</i></li>
                </a>
                <a href="../pages/gallery.html">
                    <li>Gallery</li>
                </a>
                <a href="../pages/noticeboard.html">
                    <li>Noticeboard</li>
                </a>
                <a href="../pages/search.html">
                    <li>Search (deprecated)</li>
                </a>
                <a href="../pages/survey.html">
                    <li>Survey</li>
                </a>
            </ul>
        </div>
    </div>
</header>