/* hello */

@font-face {
    font-family: 'Digital-7 Mono Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Digital-7 Mono Mono'), url('../fonts/digital-7\ \(mono\).woff') format('woff');
}

@font-face {
    font-family: 'MonaspaceArgon-Bold';
    font-weight: bold;
    src: url(../fonts/MonaspaceArgon-Bold.woff);
}

@font-face {
    font-family: 'Recursive';
    src: url('../fonts/RecursiveMonoLnrSt-Regular.woff2') format('woff2-variations');
    src: url(../fonts/RecursiveMonoLnrSt-Bold.woff2) format('woff2-variations');
    font-weight: 300 1000;
}

@font-face {
    font-family: 'Recursive Sans';
    src: url(../fonts/RecursiveMonoCslSt-Bold.woff2) format('woff2-variations');
    src: url(../fonts/RecursiveMonoCslSt-Bold.woff2) format('woff2-variations');
    font-weight: 300 1000;
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: normal;
    src: local('Baskerville BT Italic'), url('../fonts/BaskervilleBT.woff') format('woff');
}

@font-face {
    font-family: 'Big Caslon FB';
    src: url(../../static/fonts/BigCaslonFB-Regular.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Big Caslon FB';
    src: url(../../static/fonts/BigCaslonFB-Bold.woff2) format('woff2');
    font-weight: 1000;
}

@font-face {
    font-family: 'Big Caslon FB';
    src: url(../../static/fonts/BigCaslonFB-BoldItalic.woff2) format('woff2');
    font-weight: 1000;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: bold;
    src: local('Baskerville BT Italic'), url('../fonts/BaskervilleBoldItalicBT.woff') format('woff');
}


@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: bold;
    src: local('Baskerville BT Bold'), url('../fonts/BaskervilleBoldBT.woff') format('woff');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: normal;
    src: local('Baskerville BT Bold'), url('../fonts/BaskervilleItalicBT.woff') format('woff');
}

@font-face {
    font-family: 'ITC Franklin Condensed';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/ITCFranklinGothicStd-BkCp.woff2);
}

@font-face {
    font-family: 'ITC Franklin Condensed';
    font-style: italic;
    font-weight: normal;
    src: url(../fonts/ITCFranklinGothicStd-BkCpIt.woff2);
}

@font-face {
    font-family: 'ITC Franklin Condensed';
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/ITCFranklinGothicStd-DmCp.woff2);
}

@font-face {
    font-family: 'ITC Franklin Condensed';
    font-style: italic;
    font-weight: bold;
    src: url(../fonts/ITCFranklinGothicStd-DmCpIt.woff2);
}

@font-face {
    font-family: 'ITC Franklin Compact';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/ITCFranklinGothicStd-BkCd.woff2);
}

@font-face {
    font-family: 'ITC Franklin Compact';
    font-style: italic;
    font-weight: normal;
    src: url(../fonts/ITCFranklinGothicStd-BkCdIt.woff2);
}

@font-face {
    font-family: 'ITC Franklin Compact';
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/ITCFranklinGothicStd-MdCd.woff2);
}

@font-face {
    font-family: 'ITC Franklin Compact';
    font-style: italic;
    font-weight: bold;
    src: url(../fonts/ITCFranklinGothicStd-MdCdIt.woff2);
}

@font-face {
    font-family: 'Monaspace Neon';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/MonaspaceNeon-Regular.woff2);
}

@font-face {
    font-family: 'Monaspace Neon';
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/MonaspaceNeon-Bold.woff2);
}

@font-face {
    font-family: 'Monaspace Neon';
    font-style: italic;
    font-weight: normal;
    src: url(../fonts/MonaspaceNeon-Italic.woff2);
}

@font-face {
    font-family: 'Monaspace Neon';
    font-style: italic;
    font-weight: bold;
    src: url(../fonts/MonaspaceNeon-BoldItalic.woff2);
}

@font-face {
    font-family: 'Space Grotesk';
    src: local('Space Grotesk'), url('../fonts/SpaceGrotesk[wght].woff2') format('woff2');
}

@keyframes gradient-canvas {
    0% {
        background-color: rgb(186, 0, 0);
    }

    100% {
        background-color: rgb(139, 0, 0);
    }
}

@keyframes text-color-change {
    0% {
        color: rgba(255, 255, 255, 0);
    }

    25% {
        color: rgba(255, 255, 255, 1);
    }

    50% {
        color: rgb(255, 196, 0);
    }

    100% {
        color: rgb(255, 66, 81);
    }
}

@media (prefers-color-scheme: dark) {
    @media (max-width: 768px) {
        .textbgc {
            margin-bottom: 20px;
        }
    }

    #home-page-news-text {
        animation: home-page-news-fade-in-dark 2s cubic-bezier(0.75, 0, 0, 1.05) 0s 1 !important;
    }

    #canvas-5-text,
    #canvas-7-text {
        color: #fff !important;
    }

    table,
    td {
        border: solid 1px white !important;
    }

    #textbgc-1 {
        border: solid 3px rgb(217, 255, 182);
        background-color: transparent !important;
        color: rgb(217, 255, 182);
    }

    #textbgc-2 {
        border: solid 3px rgb(182, 255, 248);
        background-color: transparent !important;
        color: rgb(182, 255, 248);
    }

    #textbgc-3 {
        border: solid 3px rgb(182, 206, 255);
        background-color: transparent !important;
        color: rgb(182, 206, 255);
    }

    #textbgc-1>#canvas-link-list>li>a {
        color: rgb(231, 255, 209) !important;
    }

    #textbgc-2>#canvas-link-list>li>a {
        color: rgb(207, 255, 250) !important;
    }

    #textbgc-3>#canvas-link-list>li>a {
        color: rgb(206, 222, 255) !important;
    }

    #canvas-1 {
        background-color: #000 !important;
        color: white;
    }

    .canvas-1-button {
        border-color: #575757 !important;
    }

    #canvas-8 {
        background-color: #ffffff !important;
    }

    .canvas-2-inbox-t {
        color: rgba(255, 255, 255, 0.5) !important;
    }

    .canvas-2-inbox:hover .canvas-2-inbox-t {
        color: white !important;
    }

    #canvas-2-inbox-5-in {
        background-color: black !important;
    }

    #canvas-2-inbox-1:hover #canvas-2-inbox-5-in,
    #canvas-2-inbox-1:focus #canvas-2-inbox-5-in {
        background-color: transparent !important;
    }

    #n-marquee {
        background-color: #333 !important;
    }
}

@media(prefers-color-scheme: light) {
    #clock-components {
        background-color: rgba(255, 255, 255, 0.75) !important;
        border-color: rgba(255, 255, 255, 0.7) !important;
    }

    #canvas-4-text {
        color: #000 !important;
    }

    #canvas-2-inbox-1:hover,
    #canvas-2-inbox-1:focus {
        background-color: rgba(255, 204, 0, 0.3) !important;
    }

    #canvas-2-inbox-2:hover,
    #canvas-2-inbox-2:focus {
        background-color: rgba(0, 117, 242, 0.3) !important;
    }

    #canvas-2-inbox-3:hover,
    #canvas-2-inbox-3:focus {
        background-color: rgba(153, 242, 0, 0.3) !important;
    }

    #canvas-2-inbox-4:hover,
    #canvas-2-inbox-4:focus {
        background-color: rgba(242, 0, 89, 0.3) !important;
    }

    #canvas-2-inbox-1 {
        color: hsl(48, 100%, 45%) !important;
    }

    #canvas-2-inbox-3 {
        color: hsl(82, 100%, 37%) !important;
    }
}

@media (max-width: 768px) {
    #bar-wrapper {
        margin-right: 15px !important;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media (max-width: 1024px) {
    #canvas-3-text {
        font-size: 80px !important;
    }
}

@media (max-width: 768px) {
    #canvas-1 {
        height: fit-content;
    }

    .canvas-text {
        padding-top: 60px;
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .canvas-text-small {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

    .canvas-text {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    .canvas-text-small {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    #canvas-2-text {
        position: sticky !important;
        width: 70% !important;
        left: 30px !important;
        text-align: left !important;
    }

    #canvas-3-text {
        font-size: 80px !important;
        margin-left: 30px !important;
    }

    #canvas-3-text {
        flex-direction: column;
    }

    #canvas-5-text {
        font-size: 55px;
        line-height: 65px;
    }

    #canvas-5-text>.canvas-text-small,
    #canvas-6-text>.canvas-text-small {
        display: block;
        height: 40px;
        font-size: 20px;
        line-height: 23px !important;
    }

    #canvas-6-text {
        margin-right: 30px !important;
        word-break: break-all;
    }
}

@media (max-height: 430px) {
    #canvas-2-text {
        display: none;
    }
}

@keyframes home-page-news-fade-in {
    0% {
        color: transparent;
        transform: translateY(-20px);
    }

    100% {
        color: #000;
        transform: translateY(0px);
    }
}

@keyframes home-page-news-fade-in-dark {
    0% {
        color: transparent;
        transform: translateY(-20px);
    }

    100% {
        color: #ffffff;
        transform: translateY(0px);
    }
}

#basic {
    background-image: linear-gradient(rgba(238, 238, 238, 0.5), rgba(251, 251, 251, 0));
}

#basic.new-style {
    background-image: linear-gradient(rgba(138, 207, 0, 0.5), rgba(251, 251, 251, 0)) !important;
}

#namecard {
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: start;
}

#n-marquee {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    background: rgba(255, 255, 255);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11);
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    transition: all 0.2s;
    overflow: hidden;
    margin-left: 30px;
    margin-right: 30px;
}

#n-marquee span {
    display: inline-block;
    /* animation: marquee linear 10s infinite; */
}

@keyframes marquee {
    0% {
        transform: translateX(30%);
    }

    100% {
        transform: translateX(-110%);
    }
}

#namecard>a {
    color: unset;
}

#namecard>a:hover {
    text-decoration: none;
}

#namecard-text:hover {
    scale: 105%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11);
}

#namecard-text:active {
    scale: 95%;
    box-shadow: none;
}

#remainTime {
    margin-top: 1em;
    margin-left: 30px;
    font-size: 28px;
    word-break: break-all;
}

#one,
#two,
#three,
#four {
    display: inline;
    /* background-color: #b9362a2f;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px); */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: #b9362a solid 3px; */
    text-align: center;
    font-family: 'Noto Serif SC', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11);
    color: white;
}

#one {
    padding-left: 0;
}

#suspended-notice {
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#suspended-notice-text {
    text-align: center;
    font-size: 100px;
    margin: 10px;
}

#suspended-notice-info {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

#real-clock {
    width: 270px;
    height: 270px;
    position: fixed;
    top: 10px;
    right: -55px;
    scale: 30%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    z-index: 1;
}

#real-clock:focus-within {
    scale: 100%;
    top: 100px;
    right: 35px;
}

.clock-container {
    width: 270px;
    height: 270px;
    transition: all 0.2s;
    background-color: rgb(230, 230, 230);
    background-image: url(../img/clock-bg.webp);
    background-position: center;
    background-size: 120%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#real-clock:focus-within .clock-container {
    border-radius: 15px;
}

.clock {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock::before {
    content: "";
    position: absolute;
    width: 10.8px;
    height: 10.8px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 1;
}

.hour,
.min,
.sec {
    position: absolute;
}

.hour,
.hr {
    width: 108px;
    height: 108px;
}

.min,
.mn {
    width: 128.25px;
    height: 128.25px;
}

.sec,
.sc {
    width: 155.25px;
    height: 155.25px;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: "";
    position: absolute;
    width: 7.56px;
    height: 54px;
    background-color: #000000;
    box-shadow: 0px 0px 20px grey;
    border-radius: 12px;
    z-index: 2;
}

.mn::before {
    content: "";
    position: absolute;
    width: 5.4px;
    height: 64.8px;
    background-color: #000000;
    box-shadow: 0px 0px 20px grey;
    border-radius: 12px;
    z-index: 3;
}

.sc::before {
    content: "";
    position: absolute;
    width: 4.32px;
    height: 75.6px;
    background-color: #000000;
    box-shadow: 0px 0px 20px grey;
    border-radius: 12px;
    z-index: 4;
}

.canvas {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.canvas-text {
    font-family: 'Monaspace Neon', 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
}

.canvas-text b {
    color: #e57200;
}

.canvas-text-small {
    font-family: 'Monaspace Neon', 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify;
}

.canvas-text-small-last {
    text-align: right;
}

#canvas-clicker {
    position: absolute;
    bottom: 10px;
    right: 20px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11);
}

#canvas-2 {
    overflow-x: scroll;
    overflow-y: hidden;
}

#canvas-2-text {
    position: sticky;
    left: 0;
    width: 100%;
    padding: 0;
    font-weight: bold;
    text-align: center;
}

#canvas-2 .canvas-text-small {
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.canvas-2-inbox {
    width: 180px;
    height: 240px;
    border: solid 1px gray;
    border-radius: 10px;
    padding: 20px;
    margin-top: 30px;
    margin-left: 20px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    overflow: hidden;
}

.canvas-2-inbox:hover {
    border-color: transparent;
    color: white;
}

.canvas-2-inbox:focus {
    width: 360px;
}

.canvas-2-inbox-t {
    width: 180px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    line-height: 30px;
    color: rgba(0, 0, 0, 0.5);
}

#canvas-2-inbox-1 {
    margin-left: 0;
    color: rgb(255, 204, 0);
    border-color: rgba(255, 204, 0, 0.6);
}

#canvas-2-inbox-1:hover,
#canvas-2-inbox-1:focus {
    background-color: rgba(255, 204, 0, 0.6);
}

#canvas-2-inbox-2 {
    color: rgba(0, 117, 242);
    border-color: rgba(0, 117, 242, 0.6);
}

#canvas-2-inbox-2:hover,
#canvas-2-inbox-2:focus {
    background-color: rgba(0, 117, 242, 0.6);
}

#canvas-2-inbox-3 {
    color: rgb(153, 242, 0);
    border-color: rgba(153, 242, 0, 0.6);
}

#canvas-2-inbox-3:hover,
#canvas-2-inbox-3:focus {
    background-color: rgba(153, 242, 0, 0.6);
}

#canvas-2-inbox-4 {
    color: rgb(242, 0, 89);
    border-color: rgba(242, 0, 89, 0.6);
    margin-right: 20px;
}

#canvas-2-inbox-4:hover,
#canvas-2-inbox-4:focus {
    background-color: rgba(242, 0, 89, 0.6);
}

#canvas-2-inbox-1 {
    width: 222px;
    height: 282px;
    border: none;
    background-image: radial-gradient(circle at bottom, rgb(178, 192, 192), rgb(72, 108, 125), rgb(28, 29, 32));
    padding: 0;
}

#canvas-2-inbox-1:focus {
    width: 360px;
}

#canvas-2-inbox-5-in {
    width: 220px;
    height: 280px;
    margin-left: 1px;
    margin-top: 1px;
    border-radius: 9px;
    background-color: #fff;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#canvas-2-i-5-i {
    display: block;
    padding-left: 20px;
    padding-top: 20px;
    background-image: radial-gradient(circle at top, rgb(178, 192, 192), rgb(72, 108, 125), rgb(28, 29, 32));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#canvas-2-inbox-1 .canvas-2-inbox-t {
    transition: all 0.2s;
}

#canvas-2-inbox-1:hover #canvas-2-inbox-5-in,
#canvas-2-inbox-1:focus #canvas-2-inbox-5-in {
    background-color: transparent;
}

#canvas-2-inbox-1:hover .canvas-2-inbox-t,
#canvas-2-inbox-1:focus .canvas-2-inbox-t {
    color: white;
}

#canvas-2-inbox-1:focus .canvas-2-inbox-in {
    color: white;
}

.canvas-2-inbox-in {
    width: 180px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    text-align: right;
    color: transparent;
    transition: all 0.2s;
}

.canvas-2-inbox-in a {
    color: unset !important;
}

.canvas-2-inbox:focus .canvas-2-inbox-in {
    color: unset;
}

#c-2-i-t-zh-cn {
    font-size: 40px;
    line-height: 40px;
}

#canvas-3 {
    background-image: url(../img/IMG_5121.webp);
    background-size: contain;
    background-color: #fff;
    background-position: 0 center;
    color: black;
}

#canvas-3-text {
    width: 90%;
    text-align: right;
    font-weight: bold;
    font-size: 25px !important;
}

#canvas-3 .canvas-text-small {
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11);
}

#canvas-4 {
    align-items: center;
}

#canvas-4 iframe {
    max-width: 80% !important;
    max-height: 80%;
    margin: 10px;
}

#canvas-5 {
    background-image: url(../img/Aug-7-2024_画板-1.webp);
    background-size: cover;
}

#canvas-6 {
    background-image: url(../img/Oct\ 11\ 2024_画板\ 1.png);
    background-size: cover;
}