/* hello */

#door-2 {
    width: 220px;
}

#doors-alt {
    width: 473.5px;
}

#d-button-alt-10.active {
    height: 24px;
    left: 435.5px;
}

@media (prefers-color-scheme: dark) {
    .marquee {
        background-color: #000000 !important;
        border: solid 2px #585858 !important;
        color: #ff2020 !important;
    }

    table,
    td {
        border: solid 1px white !important;
    }

    #set-1 {
        background-color: #8282827f !important;
    }

    #set-2 {
        background-color: #5e5e5e7f !important;
    }

    #set-3 {
        background-color: #4a4a4a7f !important;
    }

    #set-4 {
        background-color: #3232327f !important;
    }

    #set-5 {
        background-color: #2a2a2a7f !important;
    }

    #homeboard-text {
        color: white !important;
    }

    .warning>a {
        color: #000 !important;
    }

    #homeboard {
        background-color: #595959 !important;
    }

    #home-slide-en-1 {
        background-color: #3d3d3d !important;
    }

    #home-slide-en-2 {
        background-color: #2e2e2e !important;
    }
}

@media(prefers-color-scheme: light) {
    #whatsapp-1 {
        border: none !important;
    }

    #clock-components {
        background-color: rgba(255, 255, 255, 0.75) !important;
        border-color: rgba(255, 255, 255, 0.7) !important;
    }

    #homeboard-text>a,
    #homeboard-text-small-2>a {
        color: #000000 !important;
    }

    .go-button {
        color: #fff !important;
    }

    #home-float-note-text>a {
        color: #fff !important;
    }
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: normal;
    src: local('Baskerville BT Italic'), url('../fonts/BaskervilleBT.woff') format('woff');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: bold;
    src: local('Baskerville BT Italic'), url('../fonts/BaskervilleBoldItalicBT.woff') format('woff');
}


@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: bold;
    src: local('Baskerville BT Bold'), url('../fonts/BaskervilleBoldBT.woff') format('woff');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: normal;
    src: local('Baskerville BT Bold'), url('../fonts/BaskervilleItalicBT.woff') format('woff');
}

.normal-container {
    visibility: visible;
}

.favorites,
.container,
.warning {
    margin-left: 10%;
    margin-right: 10%;
}

.canvas {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
    font-weight: bold;
    position: relative;
    margin-left: 10%;
    margin-right: 10%;
}

.canvas-text {
    margin-top: 30px;
    font-size: 24px;
    font-weight: normal;
}

.canvas-clicker {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 50%;
    right: 50%;
}

.canvas-clicker-inside {
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #e1e1e14b;
    border-radius: 25px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: normal;
}

#canvas-1 {
    font-family: 'Libre Baskerville', serif;
    font-weight: normal;
    font-size: 38px;
    break-after: auto;
    text-align: center;
    overflow: hidden;
}

#canvas-1-special {
    font-size: 24px;
}

#homeboard {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #f7f7f7;
}

#homeboard-text {
    color: rgb(0, 0, 0);
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

#homeboard-text-small-1 {
    font-size: 40px;
}

#homeboard-text-small-2 {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    margin-top: 30px;
    font-weight: normal;
}

#home-float-note {
    width: 100%;
    height: 15vh;
    background-image: linear-gradient(45deg, rgba(193, 154, 0, 0.5), rgba(0, 159, 222, 0.5), rgba(206, 0, 34, 0.5));
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: end;
}

#home-float-note-text {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: white;
    margin-left: 30px;
    margin-right: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.home-slide-en {
    height: 18vh;
    display: flex;
    align-items: center;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

#home-slide-en-1 {
    background-color: #e1e1e1;
}

#home-slide-en-2 {
    background-color: #d1d1d1;
}

.home-slide-en-text {
    margin-left: 120px;
    margin-right: 30px;
}

#year-2024 {
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 40px;
    animation: gradient-canvas 40s ease-in-out 0s infinite alternate;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    filter: brightness(0.95);
    position: absolute;
    bottom: 10vh;
}

#countdown-2024 {
    font-family: 'MonaspaceArgon-Bold', monospace, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue';
    text-align: center;
    font-size: 17px;
    font-weight: bold;
    line-height: 7vh;
    color: white;
}

#event-1 {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 120px;
    margin-top: 140px;
    font-size: 120px;
    line-height: 140px;
    margin-bottom: 10px;
    text-shadow: 0px 10px 20px #2464a0;
}

#dev-pause {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    margin-top: 200px;
    font-size: 25px;
}

#home-1 {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

#home-2 {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.box-1 {
    width: 90%;
    height: 300px;
    background-color: rgb(255, 255, 255);
    background-image: url(./static/img/1509729267christmas-png-ornament-ball-image.png);
    background-size: cover;
    border-radius: 15px;
    margin: 0 auto;
    margin-top: 80px;
    color: white;
}

@media (max-width: 768px) {
    #bar-wrapper {
        margin-right: 15px !important;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media (max-width: 430px) {
    #d-button-10 {
        display: none;
    }

    .widgets,
    .marquee,
    #dev-pause,
    .apple-img-box,
    #whatsapp-1,
    #class-schedule,
    iframe,
    #whatsapp-3,
    #whatsapp-2,
    #homeboard-text,
    .home-slide-en-text {
        margin-left: 30px !important;
    }

    #year-2024 {
        height: 15vh;
        border-radius: 0;
        position: absolute;
        bottom: 0;
    }

    #countdown-2024 {
        line-height: 35px;
    }

    #home-float-note {
        height: 26vh;
    }

    .app-element-pop-ups-3 {
        width: 290px !important;
    }

    .app-element-pop-ups-3.active {
        width: 290px !important;
        height: 563px !important;
    }

    #app-site-list>a>li {
        white-space: wrap;
    }
}

.widgets {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 120px;
    margin-right: 30px;
    display: none;
}

.inline-countdown {
    width: auto;
    height: fit-content;
    background: linear-gradient(315deg, #f7931f, rgb(255, 44, 118));
    border: #b70600 solid 2px;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: white;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.countdown-uni {
    width: auto;
    height: fit-content;
    background: linear-gradient(135deg, #6089a9, #bcc0c5);
    border: #415a6d solid 2px;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: black;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 20px;
    overflow: hidden;
}

.countdown-uni:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px #7b96aa;
}

.widgets-small-special {
    font-size: 20px;
    font-weight: normal;
}

.clock-uni {
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock-position-wrapper {
    position: fixed;
    left: 0;
    right: 0;
    top: 10px;
    z-index: 1;
}

@font-face {
    font-family: 'Digital-7 Mono Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Digital-7 Mono Mono'), url('../fonts/digital-7\ \(mono\).woff') format('woff');
}

@font-face {
    font-family: 'MonaspaceArgon-Bold';
    font-weight: bold;
    src: url(../fonts/MonaspaceArgon-Bold.woff);
}

#clock-components {
    width: 264px;
    height: 44px;
    background-color: rgba(0, 0, 0, 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    transition: all 0.35s cubic-bezier(0.39, -0.09, 0, 1.13) 0s;
    padding-top: 5px;
    line-height: 44px;
    text-shadow: 0px 4px 8px rgb(148, 0, 0);
    color: #ff1c1c;
    border: 2px solid rgba(34, 34, 34, 0.7);
    border-radius: 50px;
    font-family: 'Digital-7 Mono Mono';
    font-size: 24px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#clock-components:focus {
    width: 500px;
    height: 290px;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 35px;
    border: 2px solid rgb(0, 0, 0);
    background-color: rgba(86, 86, 86, 0.75);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11),
        0 16px 16px rgba(0, 0, 0, 0.11),
        0 32px 32px rgba(0, 0, 0, 0.11);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    text-align: unset;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 40px;
    position: relative;
}

#clock-components:focus .clock-container {
    visibility: visible;
}

#digital-clock {
    margin-left: 10px;
    display: inline-block;
}

#clock-components:focus #digital-clock {
    margin-left: 0;
    width: 140px;
}

.clock-container {
    position: absolute;
    overflow: hidden;
    right: 20px;
    bottom: 20px;
    width: 270px;
    height: 270px;
    transition: all 0.2s;
    margin-left: 140px;
    margin-top: 100px;
    border-radius: 25px;
    background-color: rgb(230, 230, 230);
    background-image: url(../img/clock-bg.webp);
    background-position: center;
    background-size: 120%;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
}

.clock {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock::before {
    content: "";
    position: absolute;
    width: 10.8px;
    height: 10.8px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 1;
}

.hour,
.min,
.sec {
    position: absolute;
}

.hour,
.hr {
    width: 108px;
    height: 108px;
}

.min,
.mn {
    width: 128.25px;
    height: 128.25px;
}

.sec,
.sc {
    width: 155.25px;
    height: 155.25px;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: "";
    position: absolute;
    width: 7.56px;
    height: 54px;
    background-color: #000000;
    box-shadow: 0px 0px 20px grey;
    border-radius: 12px;
    z-index: 2;
}

.mn::before {
    content: "";
    position: absolute;
    width: 5.4px;
    height: 64.8px;
    background-color: #000000;
    box-shadow: 0px 0px 20px grey;
    border-radius: 12px;
    z-index: 3;
}

.sc::before {
    content: "";
    position: absolute;
    width: 4.32px;
    height: 75.6px;
    background-color: #000000;
    box-shadow: 0px 0px 20px grey;
    border-radius: 12px;
    z-index: 4;
}

.warning {
    width: auto;
    height: fit-content;
    padding: 10px;
    background: #ffedc7;
    border-radius: 15px;
    border: 2px #ffbf34 solid;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    color: black;
}

.marquee {
    width: auto;
    height: fit-content;
    background-color: rgb(255, 255, 255);
    border: solid 2px #949494;
    border-radius: 15px;
    color: rgb(0, 0, 0);
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    box-sizing: border-box;
    margin-left: 120px;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 10px;
}

.marquee p {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 35s linear infinite;
    margin: 0;
}

@keyframes marquee {
    0% {
        transform: translate(0, 0);
    }

    100% {
        transform: translate(-100%, 0);
    }
}

.container {
    width: auto;
    height: fit-content;
    border-radius: 15px;
    border: solid 1px rgb(192, 192, 192);
    margin-top: 20px;
    padding: 20px;
}

.music-recommendation-list {
    width: auto;
    height: fit-content;
    background: linear-gradient(to right, #095b7f, #b606f7);
    border-radius: 15px;
    border: rgb(61, 70, 153) solid 2px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    overflow: hidden;
    margin-bottom: 20px;
}

#music-list-details {
    height: 0px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    transition-delay: 0.3s;
}

.music-recommendation-list:hover #music-list-details {
    height: 160px;
}

.music-recommendation-list:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px #a952ffa2;
}

.promote-account {
    width: auto;
    height: fit-content;
    background-color: #07c160;
    border: #007e3d solid 2px;
    border-radius: 15px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    color: black;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 20px;
    padding: 10px;
    overflow: hidden;
}

.promote-account:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px #07c1617a;
}

.survey {
    width: auto;
    height: fit-content;
    border-radius: 15px;
    border: 2px #6d9c00 solid;
    background-color: #c1e867;
    padding: 10px;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 16px;
    overflow: hidden;
    margin-bottom: 20px;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.survey:hover {
    transform: translateY(-5px);
    box-shadow: 0px 10px 20px #c1e867e4;
}

.whatsapp {
    width: auto;
    height: fit-content;
    margin-left: 120px;
    margin-right: 30px;
    border: solid 1px grey;
    overflow: hidden;
    font-size: 30px;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    font-weight: bold;
    margin-bottom: 20px;
    border-radius: 15px;
}

.home-inner {
    padding: 20px;
    transition: all 0.5s;
}

#whatsapp-1 {
    border-top: none !important;
    border-radius: 0 !important;
    border-bottom-left-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
    background-image: linear-gradient(9deg, rgba(255, 255, 255, 0.4), rgba(30, 103, 250, 0.4), rgba(0, 94, 201, 0.4));
    aspect-ratio: 600/100;
    color: #fff;
    transition: all 0.3s;
    z-index: 1;
    padding: 0 !important;
}

#whatsapp-2 {
    margin-top: 20px;
    background-image: linear-gradient(45deg, red, green, white);
    border: none;
}

#whatsapp-3 {
    aspect-ratio: 16/9;
    border-radius: 15px;
    background-image: linear-gradient(9deg, rgba(255, 255, 255, 0.434), rgba(30, 103, 250, 0.553), rgba(0, 94, 201, 0.557));
    background-image: url(../img/td-po.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #fff;
    border: solid 1px rgb(192, 192, 192);
    padding: 0 !important;
}

#class-schedule {
    display: none;
    width: auto;
    margin-top: 30px;
    margin-right: 30px;
    border: solid 1px #e6e6e6;
    border-radius: 15px;
    margin-left: 120px;
    padding: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    background-color: rgba(255, 255, 255, 0.27);
}

table,
td {
    border: solid 1px black;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-collapse: collapse;
}

th {
    padding: 10px;
}

td {
    padding: 5px;
}

#set-1,
#set-2,
#set-3,
#set-4,
#set-5 {
    font-weight: bold;
}

#set-1 {
    background-color: #ececec7f;
}

#set-2 {
    background-color: #dfdfdf7f;
}

#set-3 {
    background-color: #cccccc7f;
}

#set-4 {
    background-color: #bebebe7f;
}

#set-5 {
    background-color: #adadad7f;
}

.home-alt-text {
    display: inline;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 25px;
    position: relative;
    color: #fff;
}

.home-header {
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
    transition: all 0.4s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    top: 0px;
    color: #fff;
}

#six-favorite-things {
    padding-top: 20px;
    padding-bottom: 20px;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
}

.favorite-things {
    position: relative;
    width: auto;
    border-radius: 15px;
    overflow: hidden;
    font-size: 30px;
    font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: left;
    padding: 30px;
    font-weight: bold;
    margin-bottom: 20px;
    color: white;
}

#apple {
    /* background-color: #FF00C0; */
    border: rgb(245, 193, 158) solid 3px;
    color: rgb(245, 193, 158);
}

#taylor {
    /* background-color: #9600FF; */
    border: rgb(245, 193, 158) solid 3px;
    color: rgb(245, 193, 158);
}

#friends {
    /* background-color: #4900FF; */
    border: rgb(245, 193, 158) solid 3px;
    color: rgb(245, 193, 158);
}

#lalaland {
    /* background-color: #00B8FF; */
    border: rgb(245, 193, 158) solid 3px;
    color: rgb(245, 193, 158);
}

#food {
    /* background-color: #00FFF9; */
    border: rgb(245, 193, 158) solid 3px;
    color: rgb(245, 193, 158);
}

#uiuxdesign {
    /* background-color: #00FFA4; */
    border: rgb(245, 193, 158) solid 3px;
    color: rgb(245, 193, 158);
}

.go-button {
    position: absolute;
    right: 20px;
    top: 0 !important;
    bottom: 0 !important;
    width: auto;
    height: auto;
    aspect-ratio: 1/1;
    margin: 20px;
    margin-right: 0px !important;
    border-radius: 5px;
    /* background-color: #fff; */
    background-color: rgb(245, 193, 158);
    text-align: center;
    font-size: 40px;
    transition: all 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.go-button:hover {
    transform: translateX(5px);
}

#go-button-1 {
    /* color: #FF00C0; */
    color: black;
}

#go-button-2 {
    /* color: #9600FF; */
    color: black;
}

#go-button-3 {
    /* color: #4900FF; */
    color: black;
}

#go-button-4 {
    /* color: #00B8FF; */
    color: black;
}

#go-button-5 {
    /* color: #00FFF9; */
    color: black;
}

#go-button-6 {
    /* color: #00FFA4; */
    color: black;
}

#apple:hover #go-button-1 {
    /* background-color: #fff; */
    /* color: #FF00C0; */
    color: #000;
    transform: scale(1.15);
}

#taylor:hover #go-button-2 {
    /* background-color: #fff;
    color: #9600FF; */
    color: #000;
    transform: scale(1.15);
}

#friends:hover #go-button-3 {
    /* background-color: #fff;
    color: #4900FF; */
    color: #000;
    transform: scale(1.15);
}

#lalaland:hover #go-button-4 {
    /* background-color: #fff;
    color: #00B8FF; */
    color: #000;
    transform: scale(1.15);
}

#food:hover #go-button-5 {
    /* background-color: #fff;
    color: #00FFF9; */
    color: #000;
    transform: scale(1.15);
}

#uiuxdesign:hover #go-button-6 {
    /* background-color: #fff;
    color: #00FFA4; */
    color: #000;
    transform: scale(1.15);
}

#remainTime {
    display: inline-block;
    font-weight: bold;
    font-size: 17px;
}

#one,
#two,
#three,
#four {
    font-size: 17px;
    display: block;
    background-color: #ffffff2f;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    color: rgb(255, 255, 255);
    padding: 3px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 10px;
    border: rgb(255, 255, 255) solid 3px;
    text-align: center;
    font-family: 'MonaspaceArgon-Bold', monospace;
}

iframe {
    margin-left: 15px;
    margin-bottom: 10px;
}