/* hello */

@font-face {
    font-family: 'Digital-7 Mono Mono';
    font-style: normal;
    font-weight: normal;
    src: local('Digital-7 Mono Mono'), url('../fonts/digital-7\ \(mono\).woff') format('woff');
}

@font-face {
    font-family: 'MonaspaceArgon-Bold';
    font-weight: bold;
    src: url(../fonts/MonaspaceArgon-Bold.woff);
}

@font-face {
    font-family: 'Recursive';
    src: url('../fonts/RecursiveMonoLnrSt-Regular.woff2') format('woff2-variations');
    src: url(../fonts/RecursiveMonoLnrSt-Bold.woff2) format('woff2-variations');
    font-weight: 300 1000;
}

@font-face {
    font-family: 'Recursive Sans';
    src: url(../fonts/RecursiveMonoCslSt-Bold.woff2) format('woff2-variations');
    src: url(../fonts/RecursiveMonoCslSt-Bold.woff2) format('woff2-variations');
    font-weight: 300 1000;
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: normal;
    src: local('Baskerville BT Italic'), url('../fonts/BaskervilleBT.woff') format('woff');
}

@font-face {
    font-family: 'Big Caslon FB';
    src: url(../../static/fonts/BigCaslonFB-Regular.woff2) format('woff2');
    font-weight: 300;
}

@font-face {
    font-family: 'Big Caslon FB';
    src: url(../../static/fonts/BigCaslonFB-Bold.woff2) format('woff2');
    font-weight: 1000;
}

@font-face {
    font-family: 'Big Caslon FB';
    src: url(../../static/fonts/BigCaslonFB-BoldItalic.woff2) format('woff2');
    font-weight: 1000;
    font-style: italic;
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: bold;
    src: local('Baskerville BT Italic'), url('../fonts/BaskervilleBoldItalicBT.woff') format('woff');
}


@font-face {
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: bold;
    src: local('Baskerville BT Bold'), url('../fonts/BaskervilleBoldBT.woff') format('woff');
}

@font-face {
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: normal;
    src: local('Baskerville BT Bold'), url('../fonts/BaskervilleItalicBT.woff') format('woff');
}

@font-face {
    font-family: 'ITC Franklin Condensed';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/ITCFranklinGothicStd-BkCp.woff2);
}

@font-face {
    font-family: 'ITC Franklin Condensed';
    font-style: italic;
    font-weight: normal;
    src: url(../fonts/ITCFranklinGothicStd-BkCpIt.woff2);
}

@font-face {
    font-family: 'ITC Franklin Condensed';
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/ITCFranklinGothicStd-DmCp.woff2);
}

@font-face {
    font-family: 'ITC Franklin Condensed';
    font-style: italic;
    font-weight: bold;
    src: url(../fonts/ITCFranklinGothicStd-DmCpIt.woff2);
}

@font-face {
    font-family: 'ITC Franklin Compact';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/ITCFranklinGothicStd-BkCd.woff2);
}

@font-face {
    font-family: 'ITC Franklin Compact';
    font-style: italic;
    font-weight: normal;
    src: url(../fonts/ITCFranklinGothicStd-BkCdIt.woff2);
}

@font-face {
    font-family: 'ITC Franklin Compact';
    font-style: normal;
    font-weight: bold;
    src: url(../fonts/ITCFranklinGothicStd-MdCd.woff2);
}

@font-face {
    font-family: 'ITC Franklin Compact';
    font-style: italic;
    font-weight: bold;
    src: url(../fonts/ITCFranklinGothicStd-MdCdIt.woff2);
}

@font-face {
    font-family: 'Space Grotesk';
    src: local('Space Grotesk'), url('../fonts/SpaceGrotesk[wght].woff2') format('woff2');

}

@keyframes gradient-canvas {
    0% {
        background-color: rgb(186, 0, 0);
    }

    100% {
        background-color: rgb(139, 0, 0);
    }
}

@keyframes text-color-change {
    0% {
        color: rgba(255, 255, 255, 0);
    }

    25% {
        color: rgba(255, 255, 255, 1);
    }

    50% {
        color: rgb(255, 196, 0);
    }

    100% {
        color: rgb(255, 66, 81);
    }
}

@media (prefers-color-scheme: dark) {
    @media (max-width: 768px) {
        .textbgc {
            margin-bottom: 20px;
        }
    }

    #home-page-news-text {
        animation: home-page-news-fade-in-dark 2s cubic-bezier(0.75, 0, 0, 1.05) 0s 1 !important;
    }

    #canvas-5-text,
    #canvas-7-text {
        color: #fff !important;
    }

    table,
    td {
        border: solid 1px white !important;
    }

    #textbgc-1 {
        border: solid 3px rgb(217, 255, 182);
        background-color: transparent !important;
        color: rgb(217, 255, 182);
    }

    #textbgc-2 {
        border: solid 3px rgb(182, 255, 248);
        background-color: transparent !important;
        color: rgb(182, 255, 248);
    }

    #textbgc-3 {
        border: solid 3px rgb(182, 206, 255);
        background-color: transparent !important;
        color: rgb(182, 206, 255);
    }

    #textbgc-1>#canvas-link-list>li>a {
        color: rgb(231, 255, 209) !important;
    }

    #textbgc-2>#canvas-link-list>li>a {
        color: rgb(207, 255, 250) !important;
    }

    #textbgc-3>#canvas-link-list>li>a {
        color: rgb(206, 222, 255) !important;
    }

    #canvas-1 {
        background-color: #000 !important;
        color: white;
    }

    .canvas-1-button {
        border-color: #575757 !important;
    }

    #canvas-8 {
        background-color: #ffffff !important;
    }
}

@media(prefers-color-scheme: light) {
    #clock-components {
        background-color: rgba(255, 255, 255, 0.75) !important;
        border-color: rgba(255, 255, 255, 0.7) !important;
    }

    #canvas-4-text {
        color: #000 !important;
    }
}

@media (max-width: 768px) {
    #bar-wrapper {
        margin-right: 15px !important;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
    }
}

@media (max-width: 1024px) {
    #canvas-3-text {
        font-size: 80px !important;
    }
}

@media (max-width: 768px) {
    .canvas-text {
        margin-left: 30px !important;
    }

    .canvas-text-small {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    #canvas-3-text {
        font-size: 80px !important;
        margin-left: 30px !important;
    }

    #canvas-3-text {
        flex-direction: column;
    }

    #canvas-5-text {
        font-size: 55px;
        line-height: 65px;
    }

    #canvas-5-text>.canvas-text-small,
    #canvas-6-text>.canvas-text-small {
        display: block;
        height: 40px;
        font-size: 20px;
        line-height: 23px !important;
    }

    #canvas-6-text {
        margin-right: 30px !important;
        word-break: break-all;
    }
}

@keyframes home-page-news-fade-in {
    0% {
        color: transparent;
        transform: translateY(-20px);
    }

    100% {
        color: #000;
        transform: translateY(0px);
    }
}

@keyframes home-page-news-fade-in-dark {
    0% {
        color: transparent;
        transform: translateY(-20px);
    }

    100% {
        color: #ffffff;
        transform: translateY(0px);
    }
}

@media (max-width: 430px) {
    #d-button-10 {
        display: none;
    }
}

#door-2 {
    width: 222px;
}

#doors-alt {
    width: 481.865px;
}

#d-button-alt-10.active {
    height: 24px;
    left: 426.135px;
}

#namecard {
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
}

#namecard-text {
    display: block;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 10px;
    border: solid 1px rgba(169, 169, 169, 0.75);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transition: all 0.2s;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05),
        0 2px 2px rgba(0, 0, 0, 0.05),
        0 4px 4px rgba(0, 0, 0, 0.05),
        0 8px 8px rgba(0, 0, 0, 0.05);
}

#namecard>a {
    color: unset;
}

#namecard>a:hover {
    text-decoration: none;
}

#namecard-text:hover {
    scale: 105%;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11);
}

#namecard-text:active {
    scale: 95%;
    box-shadow: none;
}

#remainTime {
    margin-top: 1em;
    font-size: 28px;
    word-break: break-all;
}

#one,
#two,
#three,
#four {
    display: inline;
    /* background-color: #b9362a2f;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px); */
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    /* border: #b9362a solid 3px; */
    text-align: center;
    font-family: 'Recursive', Courier, monospace;
    font-size: 28px;
}

#suspended-notice {
    width: 100vw;
    height: 100vh;
    /* display: flex; */
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#suspended-notice-text {
    text-align: center;
    font-size: 100px;
    margin: 10px;
}

#suspended-notice-info {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
}

#real-clock {
    width: 270px;
    height: 270px;
    position: fixed;
    top: 10px;
    right: -55px;
    scale: 30%;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
    z-index: 1;
}

#real-clock:focus-within {
    scale: 100%;
    top: 100px;
    right: 35px;
}

.clock-container {
    width: 270px;
    height: 270px;
    transition: all 0.2s;
    background-color: rgb(230, 230, 230);
    background-image: url(../img/clock-bg.webp);
    background-position: center;
    background-size: 120%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#real-clock:focus-within .clock-container {
    border-radius: 15px;
}

.clock {
    width: 180px;
    height: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.clock::before {
    content: "";
    position: absolute;
    width: 10.8px;
    height: 10.8px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    z-index: 1;
}

.hour,
.min,
.sec {
    position: absolute;
}

.hour,
.hr {
    width: 108px;
    height: 108px;
}

.min,
.mn {
    width: 128.25px;
    height: 128.25px;
}

.sec,
.sc {
    width: 155.25px;
    height: 155.25px;
}

.hr,
.mn,
.sc {
    display: flex;
    justify-content: center;
    position: absolute;
    border-radius: 50%;
}

.hr::before {
    content: "";
    position: absolute;
    width: 7.56px;
    height: 54px;
    background-color: #000000;
    box-shadow: 0px 0px 20px grey;
    border-radius: 12px;
    z-index: 2;
}

.mn::before {
    content: "";
    position: absolute;
    width: 5.4px;
    height: 64.8px;
    background-color: #000000;
    box-shadow: 0px 0px 20px grey;
    border-radius: 12px;
    z-index: 3;
}

.sc::before {
    content: "";
    position: absolute;
    width: 4.32px;
    height: 75.6px;
    background-color: #000000;
    box-shadow: 0px 0px 20px grey;
    border-radius: 12px;
    z-index: 4;
}

.canvas {
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.5s;
    overflow: hidden;
    position: relative;
}

.canvas-text {
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 100px;
    font-weight: bold;
    margin-left: 30px;
    line-height: 20px;
    border-radius: 15px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: 30px;
}

#canvas-1 {
    display: flex;
    justify-content: center;
    background-color: #fff;
}

#canvas-1>span {
    font-family: 'Libre Baskerville', serif;
    margin: 30px;
    margin-top: 120px;
    font-size: 38px;
    break-after: auto;
    text-align: center;
    overflow: hidden;
}

#canvas-1-special {
    font-family: 'Libre Baskerville', serif;
    font-size: 24px;
}

.canvas-1-button {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    padding: 10px;
    border-radius: 30px;
    border: solid 1px #dddddd;
    background-color: transparent;
}

.canvas-1-button:hover {
    background: rgba(136, 136, 136, 0.35);
}

#canvas-4-text {
    width: 100%;
    font-size: 50px;
    text-align: center;
}

#canvas-4-text>.canvas-text-small {
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}

.canvas-text-small {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 22px;
    font-weight: normal;
    letter-spacing: normal !important;
    white-space: wrap;
    word-break: break-all;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}

.canvas-text-small>a>i,
#canvas-4>a>span>i {
    transition: all 0.2s;
}

.canvas-text-small>a:hover i,
#canvas-4>a:hover i {
    transform: translateX(10px);
}

#canvas-3 {
    justify-content: center;
}

#canvas-3-text {
    color: #000;
    line-height: normal;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#textbgc-1 {
    background-color: rgba(217, 255, 182, 0.5);
}

#textbgc-2 {
    background-color: rgba(182, 255, 248, 0.5);
}

#textbgc-3 {
    background-color: rgba(182, 206, 255, 0.5);
}

.textbgc:focus-within {
    height: 412px;
}

.textbgc {
    overflow: hidden;
    height: 140px;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    border-radius: 25px;
    margin-right: 30px;
}

#canvas-link-list {
    list-style: none;
    font-size: 22px;
    font-weight: normal;
}

#textbgc-1>#canvas-link-list>li>a {
    color: rgb(116, 137, 97);
}

#textbgc-2>#canvas-link-list>li>a {
    color: rgb(127, 180, 175);
}

#textbgc-3>#canvas-link-list>li>a {
    color: rgb(126, 143, 177);
}

.textbgc>#canvas-link-list>li>a>i {
    transition: all 0.2s;
}

.textbgc>#canvas-link-list>li>a:hover i {
    transform: translateX(10px);
}

.canvas-clicker {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 40px;
    left: 50%;
    right: 50%;
}

.canvas-clicker-inside {
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #e1e1e14b;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    border-radius: 25px;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: normal;
}

#canvas-5-text {
    word-break: break-all;
    color: #000;
}

#canvas-5-text>a {
    color: #45C4B0;
}

#canvas-6 {
    background-image: radial-gradient(circle at top left, #eeedeb 0, #625548 40%, rgba(255, 255, 255, 0) 90%);
}

#canvas-6-text {
    font-family: 'Big Caslon FB', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 30px;
    font-size: 65px;
    line-height: 68px;
}

#canvas-6-text>.canvas-text-small {
    font-family: 'Big Caslon FB', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#canvas-7,
#canvas-8,
#canvas-9 {
    justify-content: center;
    flex-direction: column;
}

#canvas-7-text {
    color: #000;
    font-size: 50px;
    line-height: normal;
    text-align: center;
}

#canvas-8 {
    background-image: url(../img/May-17-2024_画板-1.webp);
    background-size: contain;
}

#canvas-8-text {
    font-size: 50px;
    line-height: normal;
    text-align: center;
}

#canvas-9>#remainTime {
    font-family: 'Libre Baskerville', serif;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#canvas-9-text {
    font-size: 30px;
    text-align: center;
    font-family: 'Libre Baskerville', serif;
    font-weight: lighter;
    color: unset;
}

#canvas-10 {
    background-image: url(../img/5-years.webp);
    justify-content: end;
    align-items: start;
}

#canvas-10>.canvas-text {
    font-family: 'Noto Serif SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 40px;
    padding-left: 0;
    color: #fff;
}

#canvas-10>.canvas-text-small {
    font-family: 'Noto Serif SC', Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: left;
    padding-bottom: 20vh;
    color: #fff;
}

#canvas-11 {
    background-color: rgb(200, 186, 128);
}

#canvas-11>svg {
    height: 20%;
}

#canvas-11>.canvas-text-small {
    font-family: 'Space Grotesk', 'Helvetica', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#canvas-11 .canvas-text {
    font-size: 30px;
    line-height: normal;
    word-break: keep-all;
    font-family: 'Space Grotesk', 'Helvetica', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
}

#canvas-12 {
    overflow: hidden;
}

#canvas-12>.canvas-text {
    font-size: 35px;
    font-family: 'Space Grotesk', 'Helvetica', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: absolute;
    line-height: normal;
    text-align: center;
}

#canvas-12-img {
    width: 120%;
    height: 120%;
    background-image: url(../img/592x592bb\ \(2\).webp);
    background-size: cover;
    background-position: center bottom;
    filter: blur(1em);
}

#canvas-13 {
    background-image: url(../img/Aug-7-2024_画板-1.webp);
    background-size: cover;
}

#canvas-14>.canvas-text,
#canvas-15>.canvas-text {
    font-size: 35px;
    font-family: 'Libre Franklin', 'Source Han Sans', sans-serif;
    font-weight: bold;
    line-height: normal;
    text-align: center;
    color: #E57200;
}

#canvas-15>.canvas-text {
    font-family: 'Charter', serif;
}

#canvas-15>.canvas-text>a {
    color: #E57200 !important;
}

/* #canvas-15 {
    background-image: url(../img/IMG_4357.webp);
} */