/* designed by jerry */

:root {
    color-scheme: light dark;
    background: white;
    color: black;
}

/* all styles */
/* header style */

body {
    margin: 0;
}

#basic {
    width: 100vw;
    height: 50px;
    background-image: linear-gradient(rgba(238, 238, 238), rgba(238, 238, 238, 0));
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30;
}

#basic.active {
    background-image: linear-gradient(rgb(192, 192, 192), rgba(238, 238, 238, 0));
}

#b-info {
    height: 40px;
    aspect-ratio: 9/5;
    background-size: cover;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    transition: all 0.2s;
    background-image: url(../img/home-button-light.svg);
}

#b-more {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}

.b-style {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 20px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
}

#basic-text-container {
    width: 100%;
    height: 50px;
    background-image: linear-gradient(rgba(146, 146, 146, 0.1), rgba(238, 238, 238, 0));
    padding-left: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    position: relative;
    backdrop-filter: blur(3px);
    z-index: 1;
}

#basic-text-container a {
    color: unset;
    text-decoration: none;
}

#basic:hover #basic-text-container {
    padding-top: 5px;
}

#basic:hover #b-info {
    height: 44px;
}

#basic:hover #b-more,
#basic:hover .b-style {
    font-size: 17px;
}

#cup {
    width: 100vw;
    display: block;
    background-color: rgba(247, 247, 247, 0.5);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    -moz-backdrop-filter: blur(20px);
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    height: 0;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    overflow-x: hidden;
    overflow-y: scroll;
}

#cup.active {
    height: 100vh;
}

#water {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 80px;
    margin-left: 25px;
    margin-right: 25px;
    display: grid;
    grid-template-columns: 1fr 2fr;
}

#water a {
    color: unset;
    text-decoration: none;
}

#water-head {
    font-size: 40px;
    font-weight: lighter;
}

#water-list {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#water-list li {
    margin-top: 5px;
    font-size: 18px;
}

/* loader style */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e9e9e9af;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 100px;
    text-align: center;
    z-index: 15;
}

#loader-prompt {
    font-size: 25px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* section style */

#content-unit {
    margin-left: 240px;
    transition: all 0.2s;
}

#content-unit.active {
    margin-left: 0px;
}

#header-unit {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.2s;
}

#header-unit.active {
    width: 0;
}

#header-unit>div>a,
#header-unit>div>span>a {
    color: #000000;
}

#header-collapse {
    position: fixed;
    bottom: 20px;
    left: 25px;
    z-index: 2;
    width: fit-content;
    height: 30px;
    border-radius: 10px;
    border: solid 1px #dddddd;
    background-color: #fff;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 14px;
    overflow: hidden;
}

#header-collapse-button {
    height: 25px;
    margin: 2.5px;
    transition: all 0.2s;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7.5px;
}

#header-collapse-button:hover {
    background-color: #cacaca7a;
}

#header-collapse-button:active {
    scale: 95%;
    box-shadow: none;
}

.header {
    width: 210px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding-left: 0px;
    margin-left: 30px;
    border-right: solid 1px #cbcbcb;
}

#quick-links {
    width: 210px;
    margin-left: 30px;
    line-height: 25px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    border-right: solid 1px #cbcbcb;
    white-space: wrap;
}

#quick-links>b {
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.quick-link {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    width: fit-content;
    display: block;
}

#quick-link-1 {
    margin-top: 10px;
}

#dev-cal-1 {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 120px;
}

#dev-cal-1>a {
    color: #000;
}

#dev-cal-2 {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    z-index: -1;
    margin-left: 30px;
    margin-right: 30px;
}

#update {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 20px;
    color: rgba(0, 0, 0, 0.401);
    margin-left: 30px;
    margin-right: 30px;
}

/* element style */

#copyright-info {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: right;
    background-color: #dedede8b;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.copyright-info {
    margin: 10px;
}

.pages-container {
    width: auto;
    margin-top: 30px;
    margin-right: 30px;
    border: solid 1px #dddddd;
    margin-left: 30px;
    padding: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
}

#glass {
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: #ffffff;
    border-left: solid 1px #dddddd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#outside-glass {
    width: auto;
    margin-right: 300px;
}

#exhibit-info {
    padding: 20px;
    text-align: center;
}

#en-warn {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: #dddddd solid 1px;
    overflow: hidden;
}

.subtitle {
    font-weight: bold;
    font-size: 25px !important;
}

nav {
    background-color: #f3f3f346;
    padding: 1px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb>a {
    color: #38383891;
}

.crumb a::after {
    display: inline-block;
    color: #38383891;
    content: ' / ';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

/* media query */

@media (max-width: 768px) {
    #door-3 {
        display: none !important;
    }

    #header-unit {
        right: 0;
        top: 50px;
        display: unset;
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
        height: 69px;
        border-radius: 10px;
        background-color: rgba(245, 245, 245, 0.5);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        -moz-backdrop-filter: blur(12px);
        border: solid 1px #cbcbcb;
        z-index: 3;
    }

    #header-collapse {
        display: none;
    }

    .header {
        width: 100%;
        height: 24px;
        font-weight: bold;
        font-size: 15px !important;
        margin-left: 0 !important;
    }

    #quick-links {
        height: 20px;
        padding: 10px;
        width: auto;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-right: none !important;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    #quick-links>b {
        padding: unset;
        font-size: 15px;
    }

    .quick-link {
        display: inline !important;
        border-radius: 20px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: solid 1px gray;
        transition: all 0.3s;
        margin-right: 5px;
        font-size: 15px;
    }

    #quick-link-1 {
        margin-left: 10px;
    }

    #content-unit {
        margin-left: 0 !important;
    }

    #glass {
        display: none !important;
    }

    #outside-glass {
        width: 100vw !important;
    }

    @media (prefers-color-scheme: dark) {
        #header-unit {
            background-color: rgba(42, 42, 42, 0.5) !important;
            border: solid 1px #707070;
        }
    }
}

@media (max-width: 430px) {
    #water-list {
        grid-template-columns: 1fr !important;
    }

    #b-more #titleDisplay {
        display: none !important;
    }

    #b-more b {
        display: block;
        padding-top: 5px;
        padding-bottom: 5px;
    }
}

@keyframes app-elements-fade-in {
    0% {
        color: transparent;
        transform: translateX(20px);
    }

    100% {
        color: #000;
        transform: translateX(0px);
    }
}

@keyframes app-elements-fade-in-dark {
    0% {
        color: transparent;
        transform: translateX(10px);
    }

    100% {
        color: #ffffff;
        transform: translateX(0px);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        background: black;
        color: white;
    }

    svg {
        fill: white;
    }

    a {
        color: hsl(225, 36%, 72%) !important;
    }

    #basic {
        background-image: linear-gradient(rgba(118, 118, 118, 0.5), rgba(0, 0, 0, 0)) !important;
    }

    #basic.active {
        background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)) !important;
    }

    #b-info {
        background-image: url(../img/home-button-dark.svg) !important;
    }

    #b-more {
        color: rgba(255, 255, 255, 0.5) !important;
    }

    #cup {
        background-color: rgba(118, 118, 118, 0.5) !important;
    }

    #copyright-info {
        background-color: #3b3b3b8b;
    }

    #update {
        color: rgb(255, 255, 255, 0.401) !important;
    }

    #header-unit,
    #tool,
    #header-collapse {
        background-color: #000 !important;
    }

    #quick-links>b {
        color: rgba(255, 255, 255, 0.5) !important;
    }

    .header,
    #quick-links {
        border-right: solid 1px #707070 !important;
    }

    .loader-wrapper {
        background-color: #141414af !important;
    }

    #en-warn,
    .pages-container,
    #app-element-2,
    #tool,
    #header-collapse {
        border-color: #575757 !important;
    }

    #glass {
        background-color: #000 !important;
        border-left-color: #575757 !important;
    }

    .crumb>a,
    .crumb a::after {
        color: #ffffffd4 !important;
    }

    .tool-elements>a,
    #dev-cal-1>a,
    #header-unit>div>a,
    #header-unit>div>span>a,
    .loader-wrapper,
    .app-element-pop-ups.active>a,
    .app-element-pop-ups-3.active ul#app-site-list>a {
        color: white !important;
    }

    @media (max-width: 768px) {

        .header,
        #quick-links {
            border-right: none !important;
        }
    }
}

/* special elements style */

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
    border-radius: 10px;
    background: rgba(224, 224, 224, 0.8);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

a {
    text-decoration: none;
    color: #E57200;
}

a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2) format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2) format('woff2');
    font-weight: bold;
}

@-moz-document url-prefix() {
    div {
        scrollbar-width: none;
    }
}