/* designed by jerry */

:root {
    color-scheme: light dark;
    background: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        background: black;
        color: white;
    }

    #app {
        background-color: rgba(80, 80, 80, 0.25) !important;
        border: solid 1px rgba(100, 100, 100, 0.25) !important;
    }

    #app:focus-within {
        background-color: rgba(80, 80, 80, 0.85) !important;
    }

    #button-2,
    #button-3 {
        color: white !important;
    }

    #app:focus-within #button-1 {
        background-color: #1e1e1e !important;
    }

    svg {
        fill: white;
    }

    a {
        color: white !important;
    }

    #app:focus-within .button-indicator {
        color: white !important;
    }

    #button-2 {
        background-image: url(../img/home-button-dark.webp) !important;
    }

    .button:focus-within {
        background-color: #5c5c5c !important;
    }

    .en-us,
    .return-to-top,
    #find-me {
        color: white !important;
    }

    #close-all {
        background-color: rgba(80, 80, 80) !important;
    }

    #close-all:hover {
        background-color: rgba(255, 255, 255, 0) !important;
        border: white solid 2px !important;
    }

    #site-map:focus {
        background-color: rgba(0, 0, 0, 0.45) !important;
    }

    #toolkit,
    #site-map {
        background-color: rgba(80, 80, 80, 0.25) !important;
    }

    #toolkit:focus-within {
        background-color: rgb(67, 67, 67) !important;
        border-color: rgb(110, 110, 110) !important;
    }

    #update {
        display: inline;
        color: rgb(255, 255, 255, 0.401) !important;
        /* transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s; */
    }

    .header {
        background-color: rgba(70, 70, 70, 0.5) !important;
        border: solid 1px #707070 !important;
    }

    #button-1-item-list {
        color: rgba(255, 255, 255, 0) !important;
    }

    #app:focus-within #button-1-item-list {
        color: white !important;
    }

    #app:focus-within #button-1 {
        border: solid 1px #828282 !important;
    }

    #quick-links {
        background-color: rgba(42, 42, 42, 0.5) !important;
        border: solid 1px #707070 !important;
        border-top: none !important;
    }
}

html,
body {
    height: 100%;
    margin: 0;
}

a {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

#core {
    position: fixed;
    display: flex;
    height: 100%;
    top: 0 !important;
    bottom: 0 !important;
    align-items: center;
    z-index: 30;
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2) format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2) format('woff2');
    font-weight: bold;
}

#bar-navi {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#app {
    width: 66px;
    height: 187px;
    border-radius: 38px;
    margin-left: 27px;
    background-color: rgba(237, 237, 237, 0.25);
    transition: all 0.35s cubic-bezier(1, 0, 0, 1);
    transition-delay: 0.2s;
    backdrop-filter: blur(12px);
    border: solid 1px rgb(239, 239, 239);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}

#app::-webkit-scrollbar,
.button::-webkit-scrollbar,
#site-map::-webkit-scrollbar {
    width: 0 !important;
}

#app:focus-within {
    border-radius: 37.5px;
    width: 300px;
    height: 90%;
    margin-left: 30px;
    background-color: rgba(243, 243, 243, 0.887);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    box-shadow: 0px 2px 2px hsl(0deg 0% 50% / 0.2),
        0px 4px 4px hsl(0deg 0% 0% / 0.2),
        0px 8px 8px hsl(0deg 0% 0% / 0.2),
        0px 16px 16px hsl(0deg 0% 0% / 0.2),
        0px 32px 32px hsl(0deg 0% 0% / 0.2);
    z-index: 29;
    overflow-x: hidden;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
    border-radius: 10px;
    background: rgba(224, 224, 224, 0.8);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

.button {
    margin: 0 auto;
    width: 49.5px;
    height: 49.5px;
    border-radius: 27.5px;
    background: transparent;
    transition: all 0.3s cubic-bezier(1, 0, 0, 1);
    transition-delay: 0.2s;
    line-height: 49.5px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    text-align: center;
    position: relative;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#button-2,
#button-3 {
    display: flex;
    justify-content: center;
    align-items: center;
}

#app:focus-within .button {
    line-height: 56.25px;
    text-align: left;
}

#hamburger-text {
    height: 56.25px;
}

#app:focus-within #hamburger-text {
    width: 275px;
    height: 56.25px;
    line-height: 56.25px;
    text-align: left;
    display: flex;
    align-items: center;
}

.menu-glyphs {
    position: absolute;
    left: 17.75px;
    /* 数据通过计算得到 */
    height: 49px;
    /* 数据通过计算得到 */
}

#app:focus-within .menu-glyphs {
    position: absolute;
    left: 20px;
}

.button-indicator {
    color: transparent;
    position: absolute;
    right: 20px;
    transition-delay: 0.5s;
}

#app:focus-within .button-indicator {
    font-weight: bold;
    color: black;
}

#hamburger-button {
    position: absolute;
    right: 20px;
}

.list-container {
    display: flex;
    justify-content: start;
    align-items: start;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#button-1-item-list {
    line-height: normal;
    list-style: none;
    color: rgba(0, 0, 0, 0);
    transition: all 0.3s;
    transition-delay: 0.3s;
    text-align: left;
}

#button-1-item-list>li>a {
    transition: all 0.2s;
}

.list-container::-webkit-scrollbar {
    display: none;
}

#button-1-item-list>li {
    display: block;
    position: relative;
    left: -25px;
    font-size: 25px;
    font-weight: bolder;
    margin-bottom: 10px;
    border-radius: 50px;
}

.list-container>ul>li>a:hover {
    color: rgb(128, 128, 128) !important;
}

#app:focus-within .button {
    width: 275px;
}

.button:hover {
    background-color: #dfdfdf65;
}

#button-1 {
    transition: all 0.35s;
    transition-delay: 0.3s;
    background-color: #e3e3e38c;
    border: 1px solid #ffffff00;
}

#button-2 {
    background-color: transparent;
    background-image: url(../img/home-button-light.webp);
    background-size: 40px 40px;
    background-position: center;
    background-repeat: no-repeat;
}

#app:focus-within #button-2 {
    background-position: 5px;
}

#button-2:hover {
    background-color: #dfdfdf65;
}

#button-3 {
    background-color: transparent;
}

#button-3:hover {
    background-color: #dfdfdf65;
}

#app:focus-within #button-1 {
    border-radius: 27.5px;
    height: 76.5%;
    border: 1px solid #d2d2d2;
}

#app:focus-within #button-1-item-list {
    color: black;
}

@keyframes welcome-animation-1 {
    0% {
        scale: 0%;
    }

    50% {
        scale: 105%;
    }

    100% {
        scale: 100%;
    }
}

@keyframes welcome-animation-2 {
    0% {
        scale: 0%;
    }

    50% {
        scale: 105%;
    }

    100% {
        scale: 100%;
    }
}

#app {
    animation: welcome-animation-1 0.5s ease-in-out 0s 1;
}

#toolkit,
#close-all,
#site-map {
    animation: welcome-animation-2 0.5s ease-in-out 0s 1;
}

#toolkit {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9;
    font-size: 17px;
    width: 40px;
    height: 40px;
    background-color: rgba(237, 237, 237, 0.25);
    border-radius: 30px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    overflow: hidden;
    transition: all 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#toolkit:focus-within {
    width: 220px;
    height: 120px;
    padding: 10px;
    padding-left: 15px;
    background-color: rgba(243, 243, 243, 0.887);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    border: solid 1px rgb(239, 239, 239);
    box-shadow: 0px 2px 2px hsl(0deg 0% 50% / 0.2),
        0px 4px 4px hsl(0deg 0% 0% / 0.2),
        0px 8px 8px hsl(0deg 0% 0% / 0.2),
        0px 16px 16px hsl(0deg 0% 0% / 0.2),
        0px 32px 32px hsl(0deg 0% 0% / 0.2);
}

#toolkit:focus-within #toolkit-indicator {
    text-align: left;
    display: none;
}

.return-to-top {
    font-size: 18px;
    margin-right: 20px;
    color: rgb(0, 0, 0);
    line-height: 40px;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.en-us {
    font-size: 18px;
    margin-right: 30px;
    color: rgb(0, 0, 0);
    line-height: 40px;
    font-weight: bold;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#site-map {
    position: fixed;
    bottom: 20px;
    right: 80px;
    z-index: 9;
    font-size: 17px;
    width: 40px;
    height: 40px;
    background-color: rgba(237, 237, 237, 0.25);
    border-radius: 30px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    transition: all 0.5s cubic-bezier(1, 0, 0, 1);
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow-x: hidden;
    overflow-y: scroll;
}

.site-indicator {
    line-height: 40px;
    text-align: center;
}

#site-map:focus #site-indicator {
    display: none;
}

#site-map:focus {
    width: 100vw;
    height: 100vh;
    position: fixed;
    right: 0px;
    bottom: 0px;
    background-color: rgba(255, 255, 255, 0.45);
    border: none !important;
    border-radius: 0px;
    z-index: 1;
}

#close-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#close-all {
    position: fixed;
    bottom: 35px;
    z-index: 9;
    font-size: 20px;
    width: 40px;
    height: 10px;
    background-color: rgba(237, 237, 237, 0.25);
    border-radius: 30px;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    overflow: hidden;
    transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#close-button-container:hover #close-all {
    width: 140px;
    height: 40px;
    bottom: 20px;
    background-color: rgba(0, 0, 0, 0);
    border: rgb(0, 0, 0) solid 2px;
}

#close-all:hover #indicator-label {
    display: inline-block;
}

#close-all:hover #close-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
}

#indicator-label {
    font-weight: bold;
    line-height: 40px;
    font-size: 15px;
    display: none;
}

#map-text {
    padding: 120px;
}

#map-title {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: bold;
}

#map-link-list {
    list-style: none;
    font-size: 18px;
    display: inline;
}

#map-link-list>a {
    display: block;
    padding-top: 5px;
}

#header-unit {
    position: fixed;
    top: 10px;
    right: 15px;
    left: 105px;
    width: auto;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    z-index: 1;
}

.header {
    height: 35px;
    background-color: rgba(245, 245, 245, 0.5);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    border: solid 1px #cbcbcb;
    font-family: 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 35px;
    padding-left: 0px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#dev-cal-1 {
    font-family: 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 90px;
    font-weight: bold;
    margin-left: 120px;
    margin-right: 30px;
}

#dev-cal-2 {
    font-family: 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    z-index: -1;
    margin-left: 120px;
    margin-right: 30px;
}

#update {
    font-family: 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 20px;
    color: rgba(0, 0, 0, 0.401);
    margin-left: 120px;
    margin-right: 30px;
}

#fa-3x {
    position: absolute;
    /*声明绝对定位*/
    left: 0;
    /*在页面最左侧对齐*/
    top: 0;
    /*在页面最上方对齐*/
    height: 100%;
    /*高度是相对屏幕高度的100%*/
    width: 100%;
    /*宽度是相对屏幕宽度的100%*/
    z-index: 5;
    /*设置元素优先级为1级*/
    display: flex;
    /*设置元素隐藏*/
    align-items: center;
    /*让子元素横向居中(声明flex后有效)*/
    justify-content: center;
    /*让子元素垂直居中(声明flex后有效)*/
    background-color: rgb(255, 255, 255);
    /*设置背景颜色为黑色，并给0.5透明度*/
    font-size: 50px;
}

#quick-links {
    height: 25px;
    padding: 10px;
    background-color: #f4f4f498;
    line-height: 25px;
    overflow-x: scroll;
    overflow-y: hidden;
    font-family: 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #cacaca;
    border-top: none;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    white-space: nowrap;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.quick-link {
    border-radius: 20px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border: solid 1px gray;
    transition: all 0.3s;
}

.quick-link:hover {
    background-color: #b4b4b4;
}

@media (max-width: 425px) {
    #header-unit {
        left: 0 !important;
        right: 0 !important;
        top: 0 !important;
        box-shadow: none !important;
        border-radius: 0px !important;
    }

    .header {
        border-top-left-radius: 0px !important;
        border-top-right-radius: 0px !important;
        border: none !important;
        border-bottom: solid 1px rgb(210, 210, 210) !important;
        z-index: 31;
        position: fixed;
        top: 0;
        width: 100%;
    }

    #quick-links {
        border-bottom-left-radius: 0px !important;
        border-bottom-right-radius: 0px !important;
        border: none !important;
        border-bottom: 2px solid #e0e0e0 !important;
        z-index: 30;
        position: fixed;
        top: 36px;
        width: 100%;
    }

    @media (prefers-color-scheme: dark) {
        .header {
            border-bottom: solid 1px rgb(70, 70, 70) !important;
        }

        #quick-links {
            border-bottom: solid 1px rgb(82, 82, 82) !important;
        }
    }
}

#find-me {
    font-size: 20px;
    margin-right: 30px;
    color: rgb(0, 0, 0);
    line-height: 40px;
    font-weight: bold;
    font-family: 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#copyright-info {
    font-family: 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
}