/* 
 * Author: Jiangyuan Li
 * Version: 7.0
 */

/* all styles */

:root {
    color-scheme: light dark;
    background: white;
    color: black;
}

/* header styles */

body {
    margin: 0;
}

#attic {
    width: 120px;
    height: 50px;
    position: fixed;
    left: 10px;
    top: 10px;
    z-index: 40;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    border: solid 1px #eee;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    transition: all 0.3s cubic-bezier(0, 1, 0, 1.03);
}

#attic>a {
    display: block;
    width: 75px;
    transition: all 0.2s;
    margin-left: 5px;
    border-radius: 5px;
}

#attic>a:hover {
    background-color: rgba(192, 192, 192, 0.50);
}

#attic.collapse>a {
    border-radius: 10px;
}

.b-item a,
#back-to-top a {
    color: unset !important;
    text-decoration: none !important;
    display: block;
    width: 100%;
}

#attic.collapse {
    width: 250px;
    height: calc(100vh - 20px);
    border-radius: 15px;
}

#attic-items {
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    padding-bottom: 5px;
}

.b-item {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-top: 10px;
    height: 18px;
    padding-bottom: 5px;
    color: transparent;
    transition: all 0.2s;
    font-size: 14px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.b-item-0 {
    height: 40px;
    aspect-ratio: 9/5;
    margin-top: 5px;
    background-image: url(../img/home-button-light.svg);
}

.b-item-1 {
    width: calc(100% - 20px);
    margin-left: 10px;
    padding-bottom: 5px;
    color: transparent;
    font-size: 14px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: solid 1px #cfcfcf;
    transition: all 0.2s;
}

.b-item-2 {
    width: calc(100% - 20px);
    margin-left: 10px;
    margin-top: 10px;
    padding-bottom: 5px;
    color: transparent;
    font-size: 14px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    font-weight: bold;
    transition: all 0.2s;
}

#attic.collapse .b-item,
#attic.collapse .b-item-1,
#attic.collapse .b-item-2 {
    color: rgba(0, 0, 0, 0.75);
}

#b-close {
    width: 20px;
    height: 20px;
    background-color: rgba(213, 213, 213, 0.5);
    border-radius: 20px;
    position: absolute;
    top: 15px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #919191;
    transition: all 0.2s cubic-bezier(0, 1, 0.5, 1.25);
}

#b-close:hover {
    padding: 5px;
    top: 10px;
    right: 5px;
    background-color: rgba(192, 192, 192, 0.50);
}

.b-item:hover {
    background-color: rgba(192, 192, 192, 0.50);
    padding: 5px;
    border-radius: 10px;
    margin-left: 5px;
    margin-top: 5px;
}

#titleDisplay {
    display: block;
    padding-top: 10px;
    font-weight: bold;
    font-size: 18px;
}

#back-to-top {
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(238, 238, 238, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    border: solid 1px #eee;
    border-radius: 5px;
    color: #000;
    z-index: 30;
    transition: all 0.2s;
}

#back-button {
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

#back-to-top:hover #back-button,
#back-to-top:hover {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(192, 192, 192, 0.50);
}

/* loader style */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 28px;
    text-align: center;
    z-index: 15;
}

#loader-prompt {
    font-size: 18px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* section style */

#content-unit {
    margin-left: 0px;
    transition: all 0.2s;
}

#content-unit.active {
    margin-left: 0px;
}

#header-unit {
    position: fixed;
    left: 130px;
    top: 10px;
    max-width: calc(100% - 150px);
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
    border-radius: 10px;
    background-color: rgba(238, 238, 238, 0.5);
    border: solid 1px #eee;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1;
    overflow: hidden;
}

#header-unit>div>a,
#header-unit>div>span>a {
    color: #000000;
}

.header {
    width: fit-content;
    height: 24px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 0;
    display: none;
}

#quick-links {
    height: 50px;
    margin-left: 0;
    margin-right: 0;
    border-right: none;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#quick-links>b {
    display: none;
    padding: unset;
    padding-left: 10px;
    font-size: 15px;
}

.quick-link {
    display: inline;
    height: 30px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    border-left: solid 1px #ddd;
    transition: all 0.2s;
    font-size: 15px;
}

.quick-link:hover {
    height: 50px;
    background-color: #ffffff;
    border-radius: 10px;
}

#quick-link-1 {
    margin-left: 10px;
}

/* Scrollable content container */
.content {
    height: 200vh;
    /* Makes the page taller than the viewport for scrolling */
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Scroll indicator */
.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    /* Adjust height as needed */
    width: 0%;
    background-color: #ffffffca;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    /* Color of the scroll indicator */
    z-index: -1;
}

#dev-cal-1 {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 120px;
}

#dev-cal-1>a {
    color: #000;
}

#dev-cal-2 {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    z-index: -1;
    margin-left: 30px;
    margin-right: 30px;
}

#update {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 20px;
    color: rgba(0, 0, 0, 0.401);
    margin-left: 30px;
    margin-right: 30px;
}

/* element style */

#copyright-info {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: right;
    background-color: #dedede8b;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.copyright-info {
    margin: 10px;
}

.pages-container {
    width: auto;
    margin-top: 30px;
    margin-right: 30px;
    border: solid 1px #dddddd;
    margin-left: 30px;
    padding: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
}

#glass {
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: #ffffff;
    border-left: solid 1px #dddddd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#outside-glass {
    width: auto;
    margin-right: 300px;
}

#exhibit-info {
    padding: 20px;
    text-align: center;
}

#en-warn {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: #dddddd solid 1px;
    overflow: hidden;
}

.subtitle {
    font-weight: bold;
    font-size: 25px !important;
}

nav {
    background-color: #f3f3f346;
    padding: 1px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: solid 1px #eee;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb>a {
    color: #38383891;
}

.crumb a::after {
    display: inline-block;
    color: #38383891;
    content: ' / ';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

/* media queries */

@media (prefers-color-scheme: dark) {

    #attic,
    #back-to-top {
        background-color: rgba(68, 68, 68, 0.85);
        border: solid 1px #444;
    }

    #back-to-top {
        color: #fff !important;
    }

    #attic.collapse .b-item,
    #attic.collapse .b-item-1,
    #attic.collapse .b-item-2 {
        color: rgba(255, 255, 255, 0.75) !important;
    }

    .b-item,
    .b-item-0,
    .b-item-1,
    .b-item-2,
    #back-to-top {
        color: transparent;
    }

    .b-item-1 {
        border-bottom-color: rgba(145, 145, 145, 0.75);
    }

    .b-item-0 {
        background-image: url(../img/home-button-dark.svg);
    }

    #b-close {
        color: #eee;
    }

    nav {
        border-bottom-color: #333 !important;
    }
}

@media (max-width: 768px) {
    html {
        scrollbar-color: unset !important;
    }

    #glass {
        display: none !important;
    }

    #outside-glass {
        width: 100vw !important;
    }

    #header-unit {
        right: 0px !important;
    }

    #quick-links {
        width: unset !important;
    }

    @media (prefers-color-scheme: dark) {
        #header-unit {
            background-color: rgba(42, 42, 42, 0.5) !important;
            border: solid 1px #707070;
        }
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        background: black;
        color: white;
    }

    svg {
        fill: white;
    }

    a {
        color: #9AEBA3 !important;
    }

    #copyright-info {
        background-color: #3b3b3b8b;
    }

    #update {
        color: rgb(255, 255, 255, 0.401) !important;
    }

    #header-unit,
    #tool,
    #header-collapse {
        background-color: rgba(68, 68, 68, 0.85) !important;
        border: solid 1px #444 !important;
    }

    .quick-link {
        border-left-color: #555;
    }

    #quick-links>b {
        color: rgba(255, 255, 255, 0.5) !important;
    }

    .quick-link:hover {
        background-color: #727272 !important;
    }

    .scroll-indicator {
        background-color: #808080ca !important;
    }

    .loader-wrapper {
        background-color: #4d4d4d !important;
        color: white !important;
    }

    #en-warn,
    .pages-container,
    #app-element-2,
    #tool,
    #header-collapse {
        border-color: #575757 !important;
    }

    #glass {
        background-color: #000 !important;
        border-left-color: #575757 !important;
    }

    .crumb>a,
    .crumb a::after {
        color: #ffffffd4 !important;
    }

    .tool-elements>a,
    #dev-cal-1>a,
    #header-unit>div>a,
    #header-unit>div>span>a,
    .loader-wrapper,
    .app-element-pop-ups.active>a,
    .app-element-pop-ups-3.active ul#app-site-list>a {
        color: white !important;
    }

    @media (max-width: 768px) {

        .header,
        #quick-links {
            border-right: none !important;
        }
    }
}

/* special elements style */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 10px;
    background: rgba(224, 224, 224, 0.8);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

/* Make the scrollbar appear on top of the content */
html {
    scrollbar-width: none;
    /* For Firefox */
    scrollbar-color: #888 transparent;
    /* For Firefox */
}

body {
    overflow: overlay;
    /* For WebKit browsers, enables overlay scrollbars */
}

/* WebKit browsers: Scrollbar customization */
::-webkit-scrollbar {
    display: none;
    width: 8px;
    /* Make it thin */
    height: 0px;
    /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Make track transparent */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Scrollbar color */
    border-radius: 4px;
    /* Round scrollbar edges */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker on hover */
}


a {
    text-decoration: none;
    color: #13678A;
}

a:hover {
    text-decoration: underline;
    color: hsl(198, 76%, 51%);
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2) format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2) format('woff2');
    font-weight: bold;
}

@-moz-document url-prefix() {
    div {
        scrollbar-width: none;
    }
}