/* 
 * Author: Jiangyuan Li
 * Version: 8.0
 */
/* all styles */

:root {
    color-scheme: light dark;
    background: white;
    color: black;
}

/* header styles */

body {
    margin: 0;
}

#aerial {
    width: max-content;
    height: 95px;
    min-width: 292px;
    max-width: 50vw;
    position: fixed;
    top: 0;
    left: 15px;
    border-left: solid 1px #eee;
    border-bottom: solid 1px #eee;
    border-right: solid 1px #eee;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: rgb(238, 238, 238);
    overflow: hidden;
    transition: all 0.35s cubic-bezier(0, 1, 0, 1.03);
    z-index: 50;
}

#aerial.activeMap {
    height: calc(100vh - 60px);
}

#aerial.activeMe {
    height: 295px;
}

#aerial.activeSearch {
    height: 375px;
}

#greet {
    width: max-content;
    height: 45px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: normal;
    font-size: 13px;
    line-height: 20px;
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    overflow: hidden;
}

#bar {
    display: flex;
}

#logo {
    height: 40px;
    aspect-ratio: 9/5;
    background-image: url(../img/home-button-light.svg);
    background-repeat: no-repeat;
    margin-left: 5px;
    border-radius: 10px;
}

#logo:hover,
.top-link:hover {
    background-color: rgba(161, 161, 161, 0.25);
}

#top-links {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
}

.top-link {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-link.active {
    background-color: rgba(161, 161, 161, 0.25);
}

#map {
    height: 0;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 5px;
    padding: 0;
    border-top: dotted 3px #d9d9d9;
    transition: all 0.2s;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    overflow-x: hidden;
    overflow-y: scroll;
}

#map.active {
    height: calc(100vh - 175px);
    padding-top: 5px;
}

#map.active .b-item-2,
#map.active .b-item {
    color: unset;
}

.b-item-2 {
    font-weight: bold;
    font-style: 13px;
    padding-top: 6px;
    padding-bottom: 6px;
    color: transparent;
    transition: all 0.2s;
}

.b-item {
    width: calc(100% - 20px);
    margin-top: 10px;
    height: 18px;
    padding-bottom: 5px;
    color: transparent;
    transition: all 0.2s;
    font-size: 14px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.b-item:hover {
    background-color: rgba(161, 161, 161, 0.25);
    padding: 5px;
    border-radius: 10px;
    margin-top: 5px;
}

#map a {
    color: unset !important;
    text-decoration: none;
}

#me {
    width: 292px;
    height: 0;
    margin-left: 10px;
    margin-top: 8px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: bold;
    transition: all 0.2s cubic-bezier(0, 1, 0, 1.03);
    overflow: hidden;
    position: relative;
    color: gray;
}

#me-smaller,
#me-smaller-2 {
    font-weight: normal;
    font-size: 15px;
    margin-top: 10px;
}

#me-smaller-2 {
    position: absolute;
    bottom: 5px;
}

#me.active {
    height: 180px;
}

#me a {
    color: unset;
}

#search-bar {
    width: 292px;
    height: 0px;
    margin-left: 10px;
    position: absolute;
    top: 105px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    overflow: hidden;
    color: gray;
}

#search-bar.active {
    height: 280px;
}

#search-bar input {
    width: calc(100% - 22px);
    height: 30px;
    margin-top: 5px;
    padding: 0;
    padding-left: 1ch;
    border-radius: 8px;
    background-color: rgb(255, 255, 255);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    border: solid 1px #eee;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#search-bar ul {
    width: 272px;
    height: fit-content;
    max-height: 200px;
    padding: 0px;
    list-style: none;
    overflow-x: hidden;
    overflow-y: scroll;
    border-radius: 10px;
    margin-top: 9px;
    font-size: 15px;
}

#search-bar ul::-webkit-scrollbar {
    width: 0;
}

#back-to-top {
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(238, 238, 238, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    border: solid 1px #eee;
    border-radius: 5px;
    color: #000;
    z-index: 30;
    transition: all 0.2s;
}

#back-button {
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

#back-to-top:hover #back-button,
#back-to-top:hover {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(192, 192, 192, 0.50);
}

/* loader style */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 28px;
    text-align: center;
    z-index: 15;
}

#loader-prompt {
    font-size: 18px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* section style */

#content-unit {
    margin-left: 0px;
    margin-top: 150px;
    transition: all 0.2s;
}

#content-unit.active {
    margin-left: 0px;
}

#header-unit {
    position: fixed;
    left: 15px;
    top: 105px;
    max-width: 302px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(238, 238, 238, 0.5);
    border: solid 1px #eee;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1;
    overflow: hidden;
}

#header-unit>div>a,
#header-unit>div>span>a {
    color: #000000;
}

.header {
    width: fit-content;
    height: 14px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 0;
    display: none;
}

#quick-links {
    height: 30px;
    margin-left: 0;
    margin-right: 0;
    border-right: none;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#quick-links>b {
    display: none;
    padding: unset;
    padding-left: 10px;
    font-size: 15px;
}

.quick-link {
    display: inline;
    height: 30px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    border-radius: 15px;
    font-size: 15px;
}

.quick-link:hover {
    height: 30px;
    background-color: #ffffff;
}

/* Scrollable content container */

.content {
    height: 200vh;
    /* Makes the page taller than the viewport for scrolling */
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Scroll indicator */
.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    /* Adjust height as needed */
    width: 0%;
    background-color: #ffffffca;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* Color of the scroll indicator */
    z-index: -1;
}

#dev-cal-1 {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 160px;
}

#dev-cal-1>a {
    color: #000;
}

#dev-cal-2 {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    z-index: -1;
    margin-left: 30px;
    margin-right: 30px;
}

#update {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 20px;
    color: rgba(0, 0, 0, 0.401);
    margin-left: 30px;
    margin-right: 30px;
}

/* element style */

#copyright-info {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: right;
    background-color: #dedede8b;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.copyright-info {
    margin: 10px;
}

.pages-container {
    width: auto;
    margin-top: 30px;
    margin-right: 30px;
    border: solid 1px #dddddd;
    margin-left: 30px;
    padding: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
}

#glass {
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: #ffffff;
    border-left: solid 1px #dddddd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#outside-glass {
    width: auto;
    margin-right: 300px;
}

#exhibit-info {
    padding: 20px;
    text-align: center;
}

#en-warn {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: #dddddd solid 1px;
    overflow: hidden;
}

.subtitle {
    font-weight: bold;
    font-size: 25px !important;
}

nav {
    background-color: #f3f3f346;
    padding: 1px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: solid 1px #eee;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb>a {
    color: #38383891;
}

.crumb a::after {
    display: inline-block;
    color: #38383891;
    content: ' / ';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

/* media queries */

@media (prefers-color-scheme: dark) {
    #aerial {
        border-left-color: #333;
        border-right-color: #333;
        border-bottom-color: #333;
        background-color: rgb(68, 68, 68);
    }

    #map {
        border-top-color: #333;
    }

    #logo {
        background-image: url(../img/home-button-dark.svg);
    }

    #search-bar input {
        border-color: #333;
    }

    .top-link.active,
    .b-item:hover,
    #logo:hover,
    .top-link:hover,
    #search-bar input {
        background-color: #525252;
    }
}

@media (max-width: 768px) {
    html {
        scrollbar-color: unset !important;
    }

    #glass {
        display: none !important;
    }

    #outside-glass {
        width: 100vw !important;
    }

    #header-unit {
        right: 0px !important;
    }

    #quick-links {
        width: unset !important;
    }

    @media (prefers-color-scheme: dark) {
        #header-unit {
            background-color: rgba(42, 42, 42, 0.5) !important;
            border: solid 1px #707070;
        }
    }
}

@media (max-width: 430px) {
    #aerial {
        width: calc(100vw - 32px) !important;
        max-width: unset;
    }

    #search-bar,
    #me {
        width: calc(100% - 10px);
    }

    #search-bar input {
        width: calc(100% - 20px) !important;
    }

    #header-unit {
        margin-left: 0px;
        max-width: calc(100% - 32px) !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        background: black;
        color: white;
    }

    svg {
        fill: white;
    }

    a {
        color: #9AEBA3 !important;
    }

    #copyright-info {
        background-color: #3b3b3b8b;
    }

    #update {
        color: rgb(255, 255, 255, 0.401) !important;
    }

    #header-unit,
    #tool,
    #header-collapse {
        background-color: rgba(68, 68, 68, 0.85) !important;
        border: solid 1px #444 !important;
    }

    #quick-links>b {
        color: rgba(255, 255, 255, 0.5) !important;
    }

    .quick-link:hover {
        background-color: #979797 !important;
    }

    .scroll-indicator {
        background-color: #808080ca !important;
    }

    .loader-wrapper {
        background-color: #4d4d4d !important;
        color: white !important;
    }

    #en-warn,
    .pages-container,
    #app-element-2,
    #tool,
    #header-collapse {
        border-color: #575757 !important;
    }

    #glass {
        background-color: #000 !important;
        border-left-color: #575757 !important;
    }

    .crumb>a,
    .crumb a::after {
        color: #ffffffd4 !important;
    }

    .tool-elements>a,
    #dev-cal-1>a,
    #header-unit>div>a,
    #header-unit>div>span>a,
    .loader-wrapper,
    .app-element-pop-ups.active>a,
    .app-element-pop-ups-3.active ul#app-site-list>a {
        color: white !important;
    }

    nav {
        border-bottom-color: #333;
    }

    @media (max-width: 768px) {

        .header,
        #quick-links {
            border-right: none !important;
        }
    }
}

/* special elements style */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 10px;
    background: rgba(224, 224, 224, 0.8);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

/* Make the scrollbar appear on top of the content */
html {
    scrollbar-width: none;
    /* For Firefox */
    scrollbar-color: #888 transparent;
    /* For Firefox */
}

body {
    overflow: overlay;
    /* For WebKit browsers, enables overlay scrollbars */
}

/* WebKit browsers: Scrollbar customization */
::-webkit-scrollbar {
    display: none;
    width: 8px;
    /* Make it thin */
    height: 0px;
    /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Make track transparent */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Scrollbar color */
    border-radius: 4px;
    /* Round scrollbar edges */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker on hover */
}


a {
    text-decoration: none;
    color: #13678A;
}

a:hover {
    text-decoration: underline;
    color: hsl(198, 76%, 51%);
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2) format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2) format('woff2');
    font-weight: bold;
}

@-moz-document url-prefix() {
    div {
        scrollbar-width: none;
    }
}