/* 
 * Author: Jiangyuan Li
 * Version: 9.0
 */

/* all styles */

:root {
    color-scheme: light dark;
    background: white;
    color: black;
}

/* header styles */

body {
    margin: 0;
}

#aerobe {
    width: 100vw;
    height: 50px;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    transition-delay: 0.2s;
    z-index: 40;
}

#aerobe.active {
    height: calc(62px + 80vh);
    overflow: visible;
    transition-delay: 0s;
}

#top-bar {
    width: fit-content;
    max-width: 50vw;
    height: 36px;
    margin-top: 8px;
    white-space: nowrap;
    border: solid 1px #eee;
    background-color: #fff;
    border-radius: 21px;
    display: flex;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 13px;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#top-bar a {
    text-decoration: none;
    color: unset;
}

#hello,
#current-page {
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 10px;
    margin-right: 10px;
}

#home {
    height: 30px;
    aspect-ratio: 9/5;
    margin-right: 3px;
    margin-top: 3px;
    background-image: url(../img/home-button-light.svg);
    border-radius: 17px;
}

#home:hover,
#current-page:hover,
#bar-separator-1:hover,
#bar-separator-2:hover {
    background-color: rgb(233, 233, 233);
}

#bar-separator-1,
#bar-separator-2 {
    width: 20px;
    height: 20px;
    margin-top: 8px;
    margin-left: 4px;
    margin-right: 2px;
    border-radius: 10px;
    line-height: 20px;
    text-align: center;
    font-size: 12px;
    color: rgb(177, 177, 177);
}

#current-page {
    height: 30px;
    margin-right: 0px;
    margin-top: 3px;
    border-radius: 17px;
    padding-right: 10px;
    font-weight: bold;
}

#top-bar ul {
    height: 30px;
    margin-top: 3px !important;
    display: flex;
    margin-bottom: 0px;
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    scrollbar-width: none;
    /* Hides the scrollbar */
    overflow: auto;
    /* Keeps the scrolling functionality */
}

#top-bar ul::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar for Chrome, Safari, and Opera */
}

#top-bar li {
    padding: 5px;
    margin-right: 6px;
    font-size: 13px;
    height: 10px;
    margin-top: 5px;
    border-radius: 10px;
    line-height: 10px;
}

#top-bar li:hover {
    background-color: rgb(233, 233, 233);
}

#bar-separator-2 {
    margin-left: 0px !important;
    margin-right: 8px !important;
}

#map {
    width: 80vw;
    margin-top: 10px;
    background-color: transparent;
    border: solid 0px #eee;
    border-radius: 15px;
    box-shadow: none;
    height: 80vh;
    overflow: hidden;
    scrollbar-width: none;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#map::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar for Chrome, Safari, and Opera */
}

#map.active {
    height: 80vh;
    border: solid 1px #eee;
    background-color: rgb(243, 243, 243);
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
    box-shadow: 0 16px 16px hsl(0deg 0% 0% / 0.075),
        0 32px 32px hsl(0deg 0% 0% / 0.055),
        0 64px 64px hsl(0deg 0% 0% / 0.035);
}

#map-text {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 30px;
    margin-top: 30px;
    color: #00000000;
    transition: color 0.2s;
}

#map-text.active {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-left: 30px;
    margin-top: 30px;
    color: #000;
}

#map-text input {
    width: calc(100% - 48px);
    height: 36px;
    border: solid 1px #eeeeee00;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    color: #00000000;
}

#map-text.active input {
    width: calc(100% - 48px);
    height: 36px;
    border: solid 1px #eee;
    border-radius: 5px;
    padding-left: 15px;
    font-size: 14px;
    font-weight: 500;
    outline: none;
    color: #000;
}

#map-text-title {
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
}

#map-table-of-contents {
    width: calc(100% - 28px);
    margin-top: 20px;
    margin-bottom: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    overflow-x: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
}

#map-table-of-contents::-webkit-scrollbar {
    display: none;
    /* Hides the scrollbar for Chrome, Safari, and Opera */
}

.b-item-2 {
    font-weight: bold;
}

.b-item {
    padding-top: 10px;
    padding-bottom: 10px;
    transition: all 0.2s;
}

#map-table-of-contents a {
    text-decoration: none;
    color: unset;
}

.b-item:hover {
    background-color: rgb(233, 233, 233);
    border-radius: 5px;
    padding-left: 10px;
}

#back-to-top {
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: rgba(238, 238, 238, 0.85);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    border: solid 1px #eee;
    border-radius: 5px;
    color: #000;
    z-index: 30;
    transition: all 0.2s;
}

#back-button {
    width: 20px;
    height: 20px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.1s;
}

#back-to-top:hover #back-button,
#back-to-top:hover {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    background-color: rgba(192, 192, 192, 0.50);
}

/* loader style */

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(225, 225, 225);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 28px;
    text-align: center;
    z-index: 15;
}

#loader-prompt {
    font-size: 18px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* section style */

#content-unit {
    margin-left: 0px;
    transition: all 0.2s;
}

#content-unit.active {
    margin-left: 0px;
}

#header-unit {
    display: none;
    position: fixed;
    left: 15px;
    top: 105px;
    max-width: 302px;
    height: 30px;
    border-radius: 15px;
    background-color: rgba(238, 238, 238, 0.5);
    border: solid 1px #eee;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    z-index: 1;
    overflow: hidden;
}

#header-unit>div>a,
#header-unit>div>span>a {
    color: #000000;
}

.header {
    width: fit-content;
    height: 14px;
    font-weight: bold;
    font-size: 15px;
    margin-left: 0;
    display: none;
}

#quick-links {
    height: 30px;
    margin-left: 0;
    margin-right: 0;
    border-right: none;
    white-space: nowrap;
    overflow-x: scroll;
    overflow-y: hidden;
    scrollbar-width: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

#quick-links>b {
    display: none;
    padding: unset;
    padding-left: 10px;
    font-size: 15px;
}

.quick-link {
    display: inline;
    height: 30px;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    justify-content: center;
    align-items: center;
    transition: all 0.2s;
    border-radius: 15px;
    font-size: 15px;
}

.quick-link:hover {
    height: 30px;
    background-color: #ffffff;
}

/* Scrollable content container */

.content {
    height: 200vh;
    /* Makes the page taller than the viewport for scrolling */
    padding: 20px;
    font-family: Arial, sans-serif;
}

/* Scroll indicator */
.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    height: 30px;
    /* Adjust height as needed */
    width: 0%;
    background-color: #ffffffca;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    /* Color of the scroll indicator */
    z-index: -1;
}

#dev-cal-1 {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 40px;
}

#dev-cal-1>a {
    color: #000;
}

#dev-cal-2 {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    z-index: -1;
    margin-left: 30px;
    margin-right: 30px;
}

#update {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 20px;
    color: rgba(0, 0, 0, 0.401);
    margin-left: 30px;
    margin-right: 30px;
}

/* element style */

#copyright-info {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: right;
    background-color: #dedede8b;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    position: relative;
    overflow: hidden;
    padding: 10px;
}

.copyright-info {
    margin: 10px;
}

.pages-container {
    width: auto;
    margin-top: 30px;
    margin-right: 30px;
    border: solid 1px #dddddd;
    margin-left: 30px;
    padding: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
}

#glass {
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: #ffffff;
    border-left: solid 1px #dddddd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#outside-glass {
    width: auto;
    margin-right: 300px;
}

#exhibit-info {
    padding: 20px;
    text-align: center;
}

#en-warn {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: #dddddd solid 1px;
    overflow: hidden;
}

.subtitle {
    font-weight: bold;
    font-size: 25px !important;
}

nav {
    background-color: #f3f3f346;
    padding: 1px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-bottom: solid 1px #eee;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb>a {
    color: #38383891;
}

.crumb a::after {
    display: inline-block;
    color: #38383891;
    content: ' / ';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}

/* media queries */

@media (max-width: 430px) {
    #top-bar {
        max-width: 90vw;
    }

    #map {
        width: 90vw;
    }

    #map-text input {
        width: calc(100% - 28px);
    }

    #map-table-of-contents {
        width: calc(100% - 18px);
    }
}

@media (prefers-color-scheme: dark) {
    #top-bar {
        background-color: black;
        border-color: #333;
    }

    #home {
        background-image: url(../img/home-button-dark.svg);
    }

    #home:hover,
    #current-page:hover,
    #bar-separator-1:hover,
    #bar-separator-2:hover {
        background-color: rgb(47, 47, 47);
    }

    .b-item:hover {
        background-color: rgb(33, 33, 33);
        color: #fff;
    }

    #map,
    #map.active {
        border-color: #333;
    }

    #map.active {
        background-color: rgb(24, 24, 24);
    }

    #map-text,
    #map-text a {
        color: #ffffff00 !important;
    }

    #map-text.active,
    #map-text.active a {
        color: #fff !important;
    }

    #map-text.active input {
        border-color: #333;
        color: white;
    }

    #top-bar li:hover {
        background-color: rgb(47, 47, 47);
    }
}

@media (max-width: 768px) {
    html {
        scrollbar-color: unset !important;
    }

    #glass {
        display: none !important;
    }

    #outside-glass {
        width: 100vw !important;
    }

    #header-unit {
        right: 0px !important;
    }

    #quick-links {
        width: unset !important;
    }

    @media (prefers-color-scheme: dark) {
        #header-unit {
            background-color: rgba(42, 42, 42, 0.5) !important;
            border: solid 1px #707070;
        }
    }
}

@media (max-width: 430px) {
    #aerial {
        width: calc(100vw - 32px) !important;
        max-width: unset;
    }

    #search-bar,
    #me {
        width: calc(100% - 10px);
    }

    #search-bar input {
        width: calc(100% - 20px) !important;
    }

    #header-unit {
        margin-left: 0px;
        max-width: calc(100% - 32px) !important;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        background: black;
        color: white;
    }

    svg {
        fill: white;
    }

    a {
        color: #9AEBA3 !important;
    }

    #copyright-info {
        background-color: #3b3b3b8b;
    }

    #update {
        color: rgb(255, 255, 255, 0.401) !important;
    }

    #header-unit,
    #tool,
    #header-collapse {
        background-color: rgba(68, 68, 68, 0.85) !important;
        border: solid 1px #444 !important;
    }

    #quick-links>b {
        color: rgba(255, 255, 255, 0.5) !important;
    }

    .quick-link:hover {
        background-color: #979797 !important;
    }

    .scroll-indicator {
        background-color: #808080ca !important;
    }

    .loader-wrapper {
        background-color: #4d4d4d !important;
        color: white !important;
    }

    #en-warn,
    .pages-container,
    #app-element-2,
    #tool,
    #header-collapse {
        border-color: #575757 !important;
    }

    #glass {
        background-color: #000 !important;
        border-left-color: #575757 !important;
    }

    .crumb>a,
    .crumb a::after {
        color: #ffffffd4 !important;
    }

    .tool-elements>a,
    #dev-cal-1>a,
    #header-unit>div>a,
    #header-unit>div>span>a,
    .loader-wrapper,
    .app-element-pop-ups.active>a,
    .app-element-pop-ups-3.active ul#app-site-list>a {
        color: white !important;
    }

    nav {
        border-bottom-color: #333;
    }

    @media (max-width: 768px) {

        .header,
        #quick-links {
            border-right: none !important;
        }
    }
}

/* special elements style */

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
    border-radius: 10px;
    background: rgba(224, 224, 224, 0.8);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

/* Make the scrollbar appear on top of the content */
html {
    scrollbar-width: none;
    /* For Firefox */
    scrollbar-color: #888 transparent;
    /* For Firefox */
}

body {
    overflow: overlay;
    /* For WebKit browsers, enables overlay scrollbars */
}

/* WebKit browsers: Scrollbar customization */
::-webkit-scrollbar {
    display: none;
    width: 8px;
    /* Make it thin */
    height: 0px;
    /* For horizontal scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent;
    /* Make track transparent */
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    /* Scrollbar color */
    border-radius: 4px;
    /* Round scrollbar edges */
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
    /* Darker on hover */
}


a {
    text-decoration: none;
    color: #13678A;
}

a:hover {
    text-decoration: underline;
    color: hsl(198, 76%, 51%);
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2) format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2) format('woff2');
    font-weight: bold;
}

@-moz-document url-prefix() {
    div {
        scrollbar-width: none;
    }
}