<!-- Header -->
<script>
    $(function () {
        $("#home").click(function () {
            $("#waterfall").toggleClass("active");
        });
    });

    $(window).on("scroll", function () {
        if ($(window).width() >= 430) {
            if ($(this).scrollTop() > 0) {
                $("#lines").css("width", "0"); // Fade out
                $("#lines").css("opacity", "0"); // Fade out
            } else {
                $("#lines").css("width", "468px"); // Fade in
                $("#lines").css("opacity", "1"); // Fade out
            }
        } else {
            if ($(this).scrollTop() > 0) {
                $("#lines").css("width", "0"); // Fade out
                $("#bar").css("width", "82.8px"); // Fade out
                $("#bar").css("height", "46px"); // Fade out
                $("#lines").css("opacity", "0"); // Fade out
            } else {
                $("#lines").css("width", "468px"); // Fade in
                $("#bar").css("width", "355px"); // Fade in
                $("#bar").css("height", "67.5px"); // Fade out
                $("#lines").css("opacity", "1"); // Fade out
            }
        }
    });
</script>
<header id="axon">
    <div id="bar">
        <div id="lines">
            <span class="lines" id="lines-2"><b>Jerry Li</b> is a first-year student at University of Virginia.
                <a href="../about.html">Learn more about his cliche stories.</a></span>
            <span class="lines">Or not. I'm not him, I don't care.</span>
        </div>
        <div id="home" tabindex="1">
        </div>
    </div>
    <div id="waterfall">
        <div id="wa-table">
            <div id="wa-links">
                &emsp;
                <ul>
                    <li><a href="https://jerryly.top">home</a></li>
                    <li><a href="#">go to top</a></li>
                    <a href="../search.html"><input type="text" placeholder="search"></a>
                    <li><a href="../noticeboard.html">noticeboard</a></li>
                    <li><a href="../survey.html">survey</a></li>
                </ul>
            </div>
            <div id="wa-links">
                <h3>living</h3>
                <ul>
                    <li><a href="../christmas.html">christmas</a></li>
                    <li><a href="../contact.html">contact</a></li>
                    <li><a href="../flashback.html">rainbow room (under construction)</a></li>
                    <li><a href="../friends.html">friends</a></li>
                    <li><a href="../gallery.html">gallery</a></li>
                    <li><a href="../homemade_giftcard.html">giftcard</a></li>
                    <li><a href="../music.html">music</a></li>
                </ul>
            </div>
            <div id="wa-links">
                <h3>learning</h3>
                <ul>
                    <li><a href="../about.html">me</a></li>
                    <li><a href="../apple.html">apple</a></li>
                    <li><a href="../classical_ch.html">classical chinese (1)</a></li>
                    <li><a href="../classical_ch_sh.html">classical chinese (2)</a></li>
                    <li><a href="../develop.html">develop</a></li>
                </ul>
            </div>
        </div>
        <div id="bubble-1"></div>
    </div>
</header>