<!-- Header -->
<script>
    $(function () {
        $("#home").click(function () {
            $("#bartender").toggleClass("active");
            $("#content-unit").toggleClass("active");
        });
    });
</script>

<header id="bartender">
    <div id="home"></div>
    <div id="more">
        <div id="more-links">
            <div class="more-link">
                <a href="https://blog.jerryly.top">Blog</a>
            </div>
            <div class="more-link">
                <a href="https://live.jerryly.top">Live</a>
            </div>
            <div class="more-link">
                <a href="../about.html">About Me</a>
            </div>
            <div class="more-link">
                <a href="../apple.html">9:41</a>
            </div>
            <div class="more-link">
                <a href="../classical_ch.html">古文</a>
            </div>
            <div class="more-link">
                <a href="../music.html">Contact</a>
            </div>
            <div class="more-link">
                <a href="../gallery.html">Gallery</a>
            </div>
            <div class="more-link">
                <a href="../music.html">Music</a>
            </div>
            <div class="more-link">
                <a href="../search.html">Search</a>
            </div>
        </div>
        <div id="more-letter">
            <div class="more-title">Hi. This is Jerry Li.</div>
            <p class="more-text">And you're looking at an accumulative project of his that has been through more
                than 1,000 commits, 10+ iterations, and multiple overhauls - his website. </p>
            <p class="more-text">To answer the question that you probably have in your head, indeed, one has to be
                unimaginably narcissistic to care so much to squander hours on something only he or she would ever
                even see. But in my defense, a website - any website - is more than its viewers or users. I'd argue
                that
                to obtain an optimal user experience, every minute detail that would end up being undiscovered by
                anyone matters just as much as the visuals and buttons that are front and center.</p>
            <p class="more-text">I'm currently a first-year student at University of Virginia majoring in Computer
                Science (BA), and while "CS-major college students" has lost its glamour long ago, I feel confident
                to say that I'm the dumbest of them all. No seriously, I'm extremely concerened about that Toy ISA
                stuff I'm about to be tested on next Tuesday while I'm writing this.</p>
            <p class="more-text">Will I later realize that including this piece of information should count as
                oversharing and regret doing so? Maybe. Will I delete it? No. I know what I'm terrible at, but I
                also know what I love, even if I'm not an expert. I am passionate about <b>softwares</b>, about
                <b>designs</b>, about <b>music</b>, and about <b>user interfaces</b>.
            </p>
            <p class="more-text">As I had repeatedly told myself, it's okay to fall down and cry. It's okay to fall
                at the same spot and cry again. But it's never okay to bypass that spot with a mindset of "I'll
                never get through without falling" - that's self-deceiving. Everything and everyone's changing.</p>
            <p class="more-text">
                Give them, and give ourselves, time and patience.
            </p>
        </div>
    </div>
</header>