<script>
    $(function () {
        $("#home").click(function () {
            $("#waterfall").toggleClass("active");
        });
    });
</script>
<header id="axon">
    <div id="bar">
        <div id="lines">
            <span class="lines" id="lines-2"><b>Jerry Li</b> is a first-year student at University of Virginia.
                <a href="./pages/aluminum_studio.html">Learn more about his cliche stories.</a></span>
            <span class="lines">Or not. I'm not him, I don't care.</span>
        </div>
        <div id="home" tabindex="1">
        </div>
    </div>
    <div id="waterfall">
        <div id="wa-table">
            <div id="wa-links">
                &emsp;
                <ul>
                    <a href="./pages/search.html"><input type="text" placeholder="search"></a>
                    <li><a href="./pages/noticeboard.html">noticeboard</a></li>
                    <li><a href="./pages/survey.html">survey</a></li>
                </ul>
            </div>
            <div id="wa-links">
                <h3>living</h3>
                <ul>
                    <li><a href="./pages/christmas.html">christmas</a></li>
                    <li><a href="./pages/clock.html">clock</a></li>
                    <li><a href="./pages/contact.html">contact</a></li>
                    <li><a href="./pages/flashback.html">rainbow room (under construction)</a></li>
                    <li><a href="./pages/friends.html">friends</a></li>
                    <li><a href="./pages/gallery.html">gallery</a></li>
                    <li><a href="./pages/homemade_giftcard.html">giftcard</a></li>
                    <li><a href="./pages/music.html">music</a></li>
                </ul>
            </div>
            <div id="wa-links">
                <h3>learning</h3>
                <ul>
                    <li><a href="./pages/aluminum_studio.html">me</a></li>
                    <li><a href="./pages/apple.html">apple</a></li>
                    <li><a href="./pages/classical_ch.html">classical chinese (1)</a></li>
                    <li><a href="./pages/classical_ch_sh.html">classical chinese (2)</a></li>
                    <li><a href="./pages/develop.html">develop</a></li>
                </ul>
            </div>
        </div>
        <div id="bubble-1"></div>
    </div>
</header>