<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>Jerry's Website</title>
    <script src="{{ url_for('static', filename='scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/header.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
</head>

<body>
    <div id="header-container"></div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer>
        <p id="text-n">&copy; Jiangyuan Li 2019-2025</p>
    </footer>
</body>

</html>