<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="color-scheme" content="light dark">
    <title>Jerry's Website</title>
    <script src="{{ url_for('static', filename='scripts/jquery-3.7.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='scripts/header.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=alternate_email,arrow_forward,exit_to_app,gavel,info,open_in_new,person_add,science,web_stories" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap" rel="stylesheet">
</head>

<body>
    <header id="inno">
        <div id="tools">
            <div id="tool">
                <div id="home">
                    <div id="logo"></div>
                    <span class="tools-caption">You're viewing a page handcrafted by 李江源 Jerry Li</span>
                </div>
                <a href="mailto:jerrylovesapple@icloud.com" id="input-field-link">
                    <input type="text" id="input-field" placeholder="@ write me an email">
                </a>
                <div id="little-clock">
                    <span id="clock-text">
                        <span id="hour"></span>:<span id="minute"></span></span>
                    </span>
                    <span class="tools-caption">current time in your region</span>
                </div>
                <div id="contact">
                    <span class="material-symbols-outlined">person_add</span>
                    <span class="tools-caption">Available on <a href="https://github.com/jerrylovescheese">GitHub</a>,
                        on <a href="https://x.com/jerrylovestweet">Twitter</a>, and <a
                            href="https://www.linkedin.com/in/jiangyuan-li-051095327/">LinkedIn</a></span>
                </div>
                <div id="external-links">
                    <span class="material-symbols-outlined">open_in_new</span>
                    <span class="tools-caption">Follow external links at the <a href="https://live.jerryly.top">live</a>
                        and
                        <a href="https://blog.jerryly.top">blog</a> subdomains</span>
                </div>
            </div>
        </div>
    </header>
    <div id="header-container"></div>
    <main>
        {% block content %}{% endblock %}
    </main>
    <footer id="copyright-info">
        <p class="copyright-info" xmlns:cc="http://creativecommons.org/ns#" xmlns:dct="http://purl.org/dc/terms/"><a
                property="dct:title" rel="cc:attributionURL" href="https://jerryly.top">The website
                https://jerryly.top</a>
            by <a rel="cc:attributionURL dct:creator" property="cc:attributionName" href="https://jerryly.top">Jerry
                Li</a> is licensed under <a href="https://creativecommons.org/licenses/by-nd/4.0/?ref=chooser-v1"
                target="_blank" rel="license noopener noreferrer" style="display:inline-block;">CC BY-ND 4.0 <img
                    style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                    src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1" alt=""><img
                    style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                    src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1" alt=""><img
                    style="height:22px!important;margin-left:3px;vertical-align:text-bottom;"
                    src="https://mirrors.creativecommons.org/presskit/icons/nd.svg?ref=chooser-v1" alt=""></a></p>
        <p class="copyright-info" id="footer-links">
            <a href="mailto:jerrylovesapple@icloud.com">
                <span class="material-symbols-outlined">alternate_email</span>
            </a>
            <a href="javascript:;" onclick="alert('Currently no items in test. Stay tuned!')">
                <span class="material-symbols-outlined">science</span>
            </a>
            <a href="https://blog.jerryly.top/20240404.html">
                <span class="material-symbols-outlined">gavel</span>
            </a>
        </p>
    </footer>
    <script>
        $('#inno').hover(function () {
            if (!$('#tools').hasClass('expanded')) {
                $('#tools').toggleClass('active');
            }
        });

        $('#tools').click(function () {
            $('#tools').addClass('expanded');
        });

        $(document).click(function (event) {
            if (!$(event.target).closest('#tools, #inno').length) {
                $('#tools').removeClass('active');
                $('#tools').removeClass('expanded');
            }
        });

        function getTime() {
            const now = new Date();
            const now_hour = now.getHours().toString().padStart(2, "0");
            const now_minute = now.getMinutes().toString().padStart(2, "0");
            document.getElementById("hour").innerText = now_hour;
            document.getElementById("minute").innerText = now_minute;
        }
        setInterval(() => {
            getTime();
        }, 1000);
    </script>
</body>

</html>