/* designed by jerry */

@media screen and (max-width: 1000px) {
    /* designed by jerry */

    html,
    body {
        height: 100%;
        background-color: #ffffff;
        margin: 0;
    }

    .core {
        position: fixed;
        display: flex;
        height: 100%;
        align-items: center;
        z-index: 30;
    }

    .app {
        width: 75px;
        height: 218.75px;
        border-radius: 37.5px;
        margin-left: 20px;
        background-color: rgba(243, 243, 243, 0.887);
        border: solid 1px rgb(239, 239, 239);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        -moz-backdrop-filter: blur(12px);
        box-shadow: 0px 0px 40px #63636361;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-delay: 0.2s;
        overflow: hidden;
        float: none;
    }

    .app:hover {
        border-radius: 37.5px;
        width: 200px;
        height: 292.25px;
        margin-left: 25px;
        box-shadow: 0px 0px 40px #63636392;
    }

    .button {
        margin: 0 auto;
        margin-top: 12.5px;
        width: 56.25px;
        height: 56.25px;
        border-radius: 27.5px;
        background: transparent;
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        transition-delay: 0.2s;
        text-align: left;
        line-height: 56.25px;
        overflow: hidden;
    }

    .app:hover .button {
        width: 175px;
    }

    .button:hover {
        background-color: #dfdfdf;
    }

    #button-2 {
        background-color: transparent;
        background-image: url(../img/江源工作室\ 未来logo.png);
        background-size: 43px;
        background-position: 6px;
        background-repeat: no-repeat;
    }

    #button-2:hover {
        background-color: #dfdfdf;
    }

    #button-3 {
        margin-bottom: 10px;
        background-color: transparent;
    }

    #button-3:hover {
        background-color: #dfdfdf;
    }

    .app:hover #button-1 {
        border-radius: 27.5px;
        height: 130px;
        background-color: #d2d2d2;
    }

    /* body {
        background-color: #f0f0f0;
    }

    .foundation {
        overflow: hidden;
    }

    .top-bar {
        width: 100%;
        height: 80px;
        border-bottom: 2px solid rgb(225, 225, 225);
        background-color: rgba(255, 255, 255, 0.89);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        list-style: none;
        position: fixed;
        left: 0px;
        top: 0px;
        z-index: 1;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.45s;
        overflow: hidden;
    } */

    /* legacy version
.top-bar:focus-within {
    height: 160px;
}

.top-bar:focus-within .menu {
    top: 35px;
}

.top-bar:focus-within .search-box {
    visibility: visible;
}

*/

    .top-bar:focus-within {
        height: 360px;
        box-shadow: 0px 10px 20px #bababaf1;
    }

    .top-bar:focus-within .menu {
        top: 0px;
    }

    .top-bar-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 0 15px;
        overflow: hidden;
    }

    .top-bar-buttons {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        line-height: 50px;
    }

    .top-bar-buttons {
        color: black;
    }

    #link-3 {
        color: black;
    }

    #link-1,
    #link-3 {
        width: 30px;
        height: 30px;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        position: relative;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
    }

    #link-1:hover,
    #link-3:hover {
        box-shadow: 0px 6px 8px rgb(185, 185, 185);
        background: rgb(224, 224, 224);
    }

    .menu {
        position: relative;
        top: 65px;
        width: 100%;
        height: 50px;
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.6s;
    }

    .menu-buttons {
        width: 90px;
        height: 40px;
        font-size: 15px;
        margin-left: 10px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        border-radius: 15px;
        font-weight: bold;
        border: 1px solid rgba(98, 98, 98, 0.5);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        background-color: rgba(230, 230, 230, 0.5);
    }

    .menu-buttons:hover {
        box-shadow: 0px 3px 5px rgb(158, 158, 158);
    }

    .search-box {
        height: 37.5px;
        border-radius: 15px;
        border: 1px solid rgba(98, 98, 98, 0.5);
        transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s;
        position: fixed;
        right: 15px;
        visibility: hidden;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    #info-customized-1 {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 20px;
        font-weight: bold;
        margin-left: 20px;
    }

    .link-set {
        display: block;
        float: left;
        list-style: none;
        padding-left: 20px;
        margin-top: 0px;
    }

    .link-customized {
        text-decoration: none;
        color: #000;
    }

    .return-to-top {
        width: 25px;
        height: 25px;
        background-color: rgba(255, 255, 255, .5);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        position: fixed;
        bottom: 20px;
        left: auto;
        right: 0;
        box-shadow: 0px 8px 10px rgba(73, 73, 73, 0.44);
        border-radius: 90px;
        text-align: center;
        font-size: 20px;
        margin-right: 20px;
        color: rgb(0, 0, 0);
    }

    .dark-mode {
        width: 25px;
        height: 25px;
        background-color: rgba(255, 255, 255, 0.5);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        position: fixed;
        bottom: 20px;
        left: auto;
        right: 45px;
        box-shadow: 0px 8px 10px rgba(117, 117, 117, 0.44);
        border-radius: 90px;
        text-align: center;
        font-size: 17px;
        margin-right: 20px;
        color: rgb(0, 0, 0);
        line-height: 26px;
    }

    .time-banner {
        width: 100%;
        height: 20px;
        position: fixed;
        left: 0;
        top: 45px;
        padding: 5px 0;
        z-index: 2;
        text-align: center;
    }

    #time {
        font-family: rockwell;
    }

    .prompt-box {
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bold;
        color: #f0f0f000;
        font-size: 15px;
        display: none;
    }

    #full-screen-button:hover .prompt-box {
        display: inline;
        color: black;
        /* transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.3s; */
    }
}