/* designed by jerry */

:root {
    color-scheme: light dark;
    background: white;
    color: black;
}

@media (prefers-color-scheme: dark) {
    :root {
        background: black;
        color: white;
    }

    #bar-wrapper {
        background-color: rgba(80, 80, 80, 0.25) !important;
        border: solid 1px #575757 !important;
    }

    svg {
        fill: white;
    }

    .app-element-label {
        animation: app-elements-fade-in-dark 1s ease-in-out 0s 1 !important;
    }

    #app-element-1 {
        background-image: url(../img/home-button-dark.webp) !important;
    }

    .app-element-pop-ups.active,
    .app-element-pop-ups-3.active {
        background-color: #000 !important;
        color: #fff !important;
    }

    .en-us,
    .return-to-top,
    #find-me,
    #home-button,
    #app-element-container>a,
    .app-elements>a,
    .tool-elements>a,
    #dev-cal-1>a,
    #header-unit>div>a,
    #header-unit>div>span>a,
    .loader-wrapper,
    .app-element-pop-ups.active>a,
    .app-element-pop-ups-3.active ul#app-site-list>a {
        color: white !important;
    }

    .separator {
        background-color: #575757 !important;
    }

    #update {
        color: rgb(255, 255, 255, 0.401) !important;
    }

    #header-unit,
    #tool,
    #header-collapse {
        background-color: #000 !important;
    }

    #quick-links>b {
        color: rgba(255, 255, 255, 0.5) !important;
    }

    .header,
    #quick-links {
        border-right: solid 1px #707070 !important;
    }

    .loader-wrapper {
        background-color: #141414af !important;
    }

    #en-warn,
    .pages-container,
    #app-element-2,
    #tool,
    #header-collapse {
        border-color: #575757 !important;
    }

    #glass {
        background-color: #000 !important;
        border-left-color: #575757 !important;
    }

    .crumb>a,
    .crumb a::after {
        color: #ffffffd4 !important;
    }
}

html,
body {
    height: 100%;
    margin: 0;
}

::-webkit-scrollbar {
    width: 5px;
    height: 0px;
    border-radius: 10px;
    background: rgba(224, 224, 224, 0.8);
}

::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #f1f1f100;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: #888;
}

a {
    text-decoration: none;
    color: #007aff;
}

a:hover {
    text-decoration: underline;
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Regular-min.woff2) format('woff2');
    font-weight: normal;
}

@font-face {
    font-family: 'Source Han Sans';
    src: url(../fonts/SourceHanSansCN-Bold-min.woff2) format('woff2');
    font-weight: bold;
}

#core {
    width: 100vw;
    height: 109px;
    /* 数据通过计算得到 */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    z-index: 30;
}

#core-backdrop {
    width: 100vw;
    height: 77px;
    /* 数据通过计算得到 */
    transition: all 0.35s cubic-bezier(1, 0, 0, 1);
    transition-delay: 0.2s;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    position: relative;
}

#bar-wrapper {
    width: auto;
    height: 60px;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 15px;
    position: fixed;
    left: 0;
    right: 0;
    overflow: hidden;
    border-radius: 15px;
    background-color: rgba(237, 237, 237, 0.25);
    transition: all 0.35s cubic-bezier(1, 0, 0, 1);
    transition-delay: 0.2s;
    border: solid 1px #dddddd;
}

#app {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.app-element-pop-ups-3::-webkit-scrollbar {
    width: 0 !important;
}

#app-element-container {
    width: auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#app-element-container>a,
.app-elements>a,
.tool-elements>a {
    color: #000;
}

.app-elements {
    border-radius: 10px;
    height: 42px;
    transition: background-color 0.2s;
    margin-right: 5px;
}

.app-element-pop-ups {
    height: 0px;
    background-color: transparent;
    color: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    position: absolute;
    top: 67px;
    /* 数据通过计算得到 */
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
    overflow: hidden;
    box-shadow: none;
}

.app-element-pop-ups.active {
    height: 40px;
    background-color: white;
    color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11);
}

.app-element-pop-ups>a,
ul#app-site-list>a {
    color: transparent;
    transition: all cubic-bezier(0.075, 0.82, 0.165, 1) 0.4s;
}

.app-element-pop-ups.active>a,
.app-element-pop-ups-3.active ul#app-site-list>a {
    color: #000;
}

.app-element-pop-ups-3.active {
    width: 260px;
    height: 505px;
    /* 数据通过计算得到 */
    background-color: white;
    color: black;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11),
        0 2px 2px rgba(0, 0, 0, 0.11),
        0 4px 4px rgba(0, 0, 0, 0.11),
        0 8px 8px rgba(0, 0, 0, 0.11);
}

#app-element-pop-ups-1 {
    /* 数据通过计算得到 */
    left: 268.28px;
}

#app-element-pop-ups-2 {
    /* 数据通过计算得到 */
    left: 367.97px;
}

.app-element-pop-ups-3 {
    height: 0;
    background-color: transparent;
    color: transparent;
    border-radius: 15px;
    position: absolute;
    right: 77px;
    top: 25px;
    /* 数据通过计算得到 */
    transition: all cubic-bezier(1, 0, 0, 1) 0.4s;
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: nowrap;
    box-shadow: none;
}

#app-element-pop-up-label-3 {
    display: block;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

#app-site-list {
    list-style: none;
    padding: 20px;
    padding-top: 0;
    margin: 0;
}

#app-site-list>a>li {
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 5px;
}

.app-element-pop-ups>a {
    height: 30px;
    padding-left: 5px;
    padding-right: 5px;
    line-height: 30px;
    border-radius: 5px;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

#app-element-pop-up-label-1 {
    margin-left: 5px;
}

#app-element-pop-up-label-2 {
    margin-right: 5px;
}

.app-elements:hover,
.tool-elements:hover,
.app-element-pop-ups>a:hover {
    background-color: #cacaca7a;
}

#home-button {
    width: fit-content;
    height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-left: 9px;
    transition: background-color 0.2s;
}

#home-button:hover {
    background-color: #cacaca7a;
}

#home-button>.app-elements {
    margin-right: 0;
}

#home-button>.app-elements:hover {
    background-color: transparent;
}

#home-button>.app-element-label {
    padding-left: 0;
    font-weight: normal;
}

.separator {
    width: 1px;
    height: 18px;
    background-color: #dddddd;
    margin-left: 5px;
    margin-right: 5px;
}

#app-element-1 {
    width: 75.6px;
    background-image: url(../img/home-button-light.webp);
    background-size: cover;
}

#app-element-2 {
    width: 42px;
    margin-right: 9px;
    border: solid 1px #dddddd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.app-element-label {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 10px;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    animation: app-elements-fade-in 2s cubic-bezier(0.75, 0, 0, 1.05) 0s 1;
}

@keyframes app-elements-fade-in {
    0% {
        color: transparent;
        transform: translateX(20px);
    }

    100% {
        color: #000;
        transform: translateX(0px);
    }
}

@keyframes app-elements-fade-in-dark {
    0% {
        color: transparent;
        transform: translateX(10px);
    }

    100% {
        color: #ffffff;
        transform: translateX(0px);
    }
}

#tool {
    height: 40px;
    background-color: #fff;
    border-radius: 10px;
    border: solid 1px #dddddd;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    align-items: center;
    overflow: hidden;
    z-index: 20;
}

.tool-elements {
    border-radius: 5px;
    height: 30px;
    line-height: 30px;
    transition: background-color 0.2s;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.tool-element-label {
    padding: 10px;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#return-to-top {
    margin-left: 5px;
}

#connect {
    margin-right: 5px;
}

#content-unit {
    margin-left: 240px;
    transition: all 0.2s;
}

#content-unit.active {
    margin-left: 0px;
}

#header-unit {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    background-color: #fff;
    transition: all 0.2s;
}

#header-unit.active {
    width: 0;
}

#header-unit>div>a,
#header-unit>div>span>a {
    color: #000000;
}

#header-collapse {
    position: fixed;
    bottom: 20px;
    left: 25px;
    z-index: 2;
    width: fit-content;
    height: 30px;
    border-radius: 10px;
    border: solid 1px #dddddd;
    background-color: #fff;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: normal;
    font-size: 14px;
    overflow: hidden;
}

#header-collapse-button {
    height: 25px;
    margin: 2.5px;
    transition: all 0.2s;
    line-height: 25px;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 7.5px;
}

#header-collapse-button:hover {
    background-color: #cacaca7a;
}

#header-collapse-button:active {
    scale: 95%;
    box-shadow: none;
}

.header {
    width: 210px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    line-height: 30px;
    padding-left: 0px;
    margin-left: 30px;
    border-right: solid 1px #cbcbcb;
}

#quick-links {
    width: 210px;
    margin-left: 30px;
    line-height: 25px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-top: 10px;
    border-right: solid 1px #cbcbcb;
    white-space: wrap;
}

#quick-links>b {
    padding: 10px;
    color: rgba(0, 0, 0, 0.5);
}

.quick-link {
    padding: 10px;
    padding-top: 0;
    padding-bottom: 0;
    width: fit-content;
    display: block;
}

#quick-link-1 {
    margin-top: 10px;
}

#dev-cal-1 {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 60px;
    font-weight: bold;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 120px;
}

#dev-cal-1>a {
    color: #000;
}

#dev-cal-2 {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    z-index: -1;
    margin-left: 30px;
    margin-right: 30px;
}

#update {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 20px;
    color: rgba(0, 0, 0, 0.401);
    margin-left: 30px;
    margin-right: 30px;
}

.loader-wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #e9e9e9af;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 100px;
    text-align: center;
    z-index: 15;
}

#loader-prompt {
    font-size: 25px;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media (max-width: 768px) {
    #bar-wrapper {
        margin-right: 15px !important;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    #app-element-3,
    #app-element-4,
    #app-element-5,
    #app-element-6 {
        display: none;
    }

    #header-unit {
        right: 0;
        top: 75px;
        display: unset;
        width: auto;
        margin-left: 15px;
        margin-right: 15px !important;
        height: 82px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        background-color: rgba(245, 245, 245, 0.5);
        backdrop-filter: blur(12px);
        -webkit-backdrop-filter: blur(12px);
        -moz-backdrop-filter: blur(12px);
        border: solid 1px #cbcbcb;
        border-top: none;
        z-index: 3;
    }

    #header-collapse {
        display: none;
    }

    .header {
        border-bottom: solid 1px rgb(210, 210, 210);
        width: 100%;
        height: 35px;
        line-height: 35px;
        font-weight: bold;
        font-size: 20px !important;
        margin-left: 0 !important;
    }

    #quick-links {
        height: 25px;
        padding: 10px;
        top: 36px;
        width: auto;
        margin-left: 0 !important;
        margin-right: 0 !important;
        border-right: none !important;
        white-space: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    }

    #quick-links>b {
        padding: unset;
    }

    .quick-link {
        display: inline !important;
        border-radius: 20px;
        padding: 5px;
        padding-left: 10px;
        padding-right: 10px;
        border: solid 1px gray;
        transition: all 0.3s;
        margin-right: 5px;
    }

    #quick-link-1 {
        margin-left: 10px;
    }

    #content-unit {
        margin-left: 0 !important;
    }

    #glass {
        display: none !important;
    }

    #outside-glass {
        width: 100vw !important;
    }

    @media (prefers-color-scheme: dark) {
        #header-unit {
            background-color: rgba(42, 42, 42, 0.5) !important;
            border: solid 1px #707070;
        }

        .header {
            border-bottom: solid 1px #707070 !important;
        }
    }
}

#find-me {
    font-size: 20px;
    margin-right: 30px;
    color: rgb(0, 0, 0);
    line-height: 40px;
    font-weight: bold;
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    overflow: hidden;
    transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

#copyright-info {
    font-family: 'Inter', 'Source Han Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    background-color: #e5e5e546;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    -moz-backdrop-filter: blur(12px);
    z-index: 1;
    position: relative;
    overflow: hidden;
    line-height: 15px;
}

#copyright-info>p>a {
    color: unset;
}

.pages-container {
    width: auto;
    margin-top: 30px;
    margin-right: 30px;
    border: solid 1px #dddddd;
    margin-left: 30px;
    padding: 30px;
    overflow-x: scroll;
    overflow-y: hidden;
    border-radius: 10px;
}

#glass {
    width: 300px;
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
    background-color: #ffffff;
    border-left: solid 1px #dddddd;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#outside-glass {
    width: auto;
    margin-right: 300px;
}

#exhibit-info {
    padding: 20px;
    text-align: center;
}

#en-warn {
    margin-left: 30px;
    margin-right: 30px;
    border-radius: 10px;
    width: fit-content;
    height: fit-content;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 18px;
    font-weight: bold;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: #dddddd solid 1px;
    overflow: hidden;
}

@media (max-width: 425px) {

    #dev-cal-1,
    #update,
    #dev-cal-2,
    .pages-container,
    #en-warn {
        margin-left: 30px !important;
        margin-right: 30px !important;
    }

    #dev-cal-1 {
        font-size: 70px;
        margin-top: 125px;
    }
}

.subtitle {
    font-weight: bold;
    font-size: 25px;
}

nav {
    background-color: #f3f3f346;
    padding: 1px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Source Han Sans', 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.crumbs ol {
    list-style-type: none;
    padding-left: 0;
}

.crumb {
    display: inline-block;
}

.crumb>a {
    color: #38383891;
}

.crumb a::after {
    display: inline-block;
    color: #38383891;
    content: ' / ';
    font-size: 80%;
    font-weight: bold;
    padding: 0 3px;
}