<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="shortcut icon" href="https://static.igem.wiki/common/icons/favicons/igem-2022.svg"/>
    <link rel="license" href="https://creativecommons.org/licenses/by/4.0/"/> -->

  <!-- Bootstrap CSS -->
  <link href="{{ url_for('static', filename = 'css/bootstrap.min.css') }}" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">

  <title>{% block title %}{% endblock %} | 李江源</title>

</head>

<body>
  <!-- Navigation -->
  {% include 'menu.html' %}

  <!-- Page Content -->
  {% block page_content %}{% endblock %}

  {% include 'footer.html' %}

  <!-- Bootstrap Bundle with Popper -->
  <script src="{{ url_for('static', filename = 'js/jquery-1.12.4.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/videojs.js') }}"></script>
  <script src="{{ url_for('static', filename = 'js/main.js') }}"></script>

</body>

</html>